[2015-09-16 14:36] prushforth opened #1 "Draft CG charter template"
This repo seems like a good idea.  Is there a template one could use to draft a charter, or other monkey-see monkey-do resources that can be pointed to.

Thanks

[2015-10-08 05:45] shepazu opened #2 "Pointer Events charter?"
I'd like to work on the updated Pointer Events / Touch Events charter here on Github, in the open.

[2015-10-08 08:08] shepazu commented on #2
Made owner by Mike5.

[2015-10-08 08:08] #2 closed, assigned to nobody

[2015-10-08 08:10] shepazu commented on #1
@prushforth I just created a first draft of a template. Pull requests or forks welcome!

http://w3c.github.io/charter-drafts/charter-template.html

[2015-10-08 12:33] prushforth commented on #1
Perfect, thanks!  Will use that.

[2015-10-08 12:33] #1 closed, assigned to shepazu

[2015-11-09 21:14] AFBarstow opened #6 "PointerEvents: be realistic about TE and PE "reconciling""
The draft PtrEvents WG charter says:

[[
This Working Group will reconcile the relationship and best features between these technologies.
]]

The use of "will" here implies the group will be expected to get both the TE and PE communities to agree on a single standard and, unfortunately, that doesn't seem possible, especially since both Apple and Yandex again voiced their disdain for PEs during Web

[2015-11-26 17:28] koalie opened #7 "Update Process Doc (2015) section number"
Hi there,
The About section points to a Process Document section which in the 2015 version is numbered "5.2" (no longer "6.2".)

[2015-11-26 17:34] koalie opened #8 "Some rogue Process 2005 links"
Hi there,

There are still a few rogue Process 2005 links throughout. It may be on purpose, or not.
If not, please, s|2005/10/Process-20051014|2015/Process-20150901|

[2016-01-29 21:48] plehegar commented on #6
This was removed from the proposed charter.

[2016-01-29 21:48] #6 closed, assigned to nobody

[2016-01-29 21:52] #7 closed, assigned to nobody

[2016-01-29 21:52] #8 closed, assigned to nobody

[2016-02-17 17:41] tmichel07 opened #16 "emphasis on deliverables for IMSC1 and IMSC2 and relation to groups."
Proposals for the TTWG charter

**\* 2. Deliverables ***

change:
A W3C Recommendation for TTML Text and Image Profiles for Internet Media Subtitles and Captions.
to:
A W3C Recommendation for TTML Text and Image Profiles for Internet Media Subtitles and Captions (IMSC1)

Add following:
A W3C Recommendation for a second version of TTML Text and Image Profiles for Internet Media Subtitles and Captio

[2016-02-17 17:50] tmichel07 opened #17 "review of specs."
charter says : "Invitation for review must be issued during each major standards-track document transition, including FPWD and CR, and should be issued when major changes occur in a specification."

Isn't the "wide review be demonstrated for _entering_ CR, which means during the last Working Draft version before CR ?
Should clarify.

[2016-02-18 13:31] nigelmegitt opened #18 "Need to agree which licence to use"
We need to decide whether to use the document licence or the software licence for our deliverables. Can be different licences depending on which document, but it's cleaner to just use the same one throughout.

[2016-02-23 04:50] palemieux commented on #18
Re: TTWG charter.

I recommend using the W3C Document License (at least for TTML-related work) as it makes it easier for W3C to retain control of the specification, reducing the potential for confusion in the marketplace.

[2016-02-23 04:52] palemieux opened #20 "Taking into account features added to IMSC1"
Re: TTWG charter

Under

`1. Publish a Recommendation for a new Timed Text Markup Language (TTML) 2 specification. In the process of producing this new revision, the Group WILL:`

add:

`f. Take into account features added to IMSC1`

[2016-02-23 04:54] palemieux opened #21 "Develop and publish a new version of IMSC"
RE: TTWG charter

Change

`The Group will publish a version of IMSC that is compatible with TTML 2 [...]`

to

`The Group will develop and publish a new version of IMSC that is compatible with TTML 2 [...]`

[2016-02-23 05:00] palemieux opened #22 "Definition of interoperable"
Re: TTWG charter

_interoperable_ is open to interpretation, e.g. are two presentation processors "interoperable" even if they do not talk to each other? It should be sufficient for the implementations to demonstrate compatibility with the specification.

[2016-02-23 05:00] palemieux opened #23 "Add new version of IMSC1 to Deliverables"
Re: TTWG charter

Add

`•    A W3C Recommendation for a new version of TTML Profiles for Internet Media Subtitles and Captions (IMSC).`

to _Deliverables_.

[2016-02-23 05:01] palemieux opened #24 "Coordination with HTML Accessibility Task Force and the HTML Working Group"
Re: TTWG charter

Shouldn't this be under Coordination -> W3C Groups

[2016-02-23 05:02] palemieux opened #25 "Duplication of process for W3C process document?"
Re: TTWG charter

Doesn't this duplicate process from the W3C Process document?

[2016-02-23 05:04] palemieux opened #26 "Additional external groups"
Re: TTWG charter

Should the following be added to External Groups?
- ARIB (Japan) [ARIB uses TTML in its specifications]
- APEX (in-flight entertainment, http://apex.aero/) [APEX has expressed interest in using TTML in its specifications]

[2016-02-23 05:04] palemieux opened #27 "Successful subgroups"
RE: TTWG charter

What happens if it is not "successful" per this metric?

[2016-02-25 15:51] nigelmegitt commented on #18
[TTWG Meeting 2016-02-25] Consensus is Document License for IMSC and all TTML derived deliverables.

[2016-03-03 11:30] ashimura opened #29 "please add me to the editor's group of this repo so that I can add a draft charter"

[2016-03-03 15:34] nigelmegitt commented on #26
[TTWG Meeting 2016-03-03] Group agreed to add in ARIB but not to add in APEX to the TTWG Charter.

[2016-03-03 16:26] tmichel07 commented on #18
I will discuss it with PLH to either:
-  tweek the text to allow both licensing on document basis.
- remove this section.

[2016-03-03 17:21] tmichel07 commented on #26
PR done to add ARIB.

[2016-03-03 17:21] #26 closed, assigned to nobody

[2016-03-03 17:27] tmichel07 commented on #27
I guess this issue is closed with the BBC PR.

[2016-03-03 17:27] #27 closed, assigned to nobody

[2016-03-03 17:30] tmichel07 commented on #25
I does duplicate with W3C Process.
Will discuss this with PLH.
Either
remove it or wide review for CR.

[2016-03-03 17:37] tmichel07 commented on #24
It was in that section in the current charter
https://www.w3.org/2014/03/timed-text-charter.html
It could be considered as a potential deliverable, but could also fit in the W3C Coordination -> W3C Groups.

[2016-03-03 17:43] tmichel07 commented on #23
Added.
Done a PR.

[2016-03-03 17:43] #23 closed, assigned to nobody

[2016-03-03 17:51] tmichel07 commented on #22
changed interoperable to independent
 <li>Include all features that have at least two independent implementations.</li>

Made a PR.

[2016-03-03 17:56] tmichel07 commented on #21
Done.
made a PR.

[2016-03-03 17:56] #21 closed, assigned to nobody

[2016-03-04 07:44] tmichel07 commented on #20
Added.

[2016-03-04 07:44] #20 closed, assigned to nobody

[2016-03-06 08:50] #29 closed, assigned to nobody

[2016-03-07 20:12] tmichel07 commented on #18
IMSC and TTML will use the document licence. Other Documents may use either the document licence or the software and document licence.

[2016-03-07 20:12] #18 closed, assigned to nobody

[2016-03-07 20:13] tmichel07 commented on #17
changed to

 "Invitation for review SHOULD be issued during each major standards-track document transition,

[2016-03-07 20:13] #17 closed, assigned to nobody

[2016-03-07 20:14] tmichel07 commented on #24
Statement removed.

[2016-03-07 20:14] #24 closed, assigned to nobody

[2016-03-07 20:14] tmichel07 commented on #25
chaged MUST into SHOULD.

Invitation for review must be issued

[2016-03-07 20:14] #25 closed, assigned to nobody

[2016-03-07 20:15] tmichel07 commented on #16
Done.

[2016-03-07 20:15] #16 closed, assigned to nobody

[2016-03-07 20:34] palemieux commented on #25
How was this closed?

[2016-03-07 20:44] tmichel07 commented on #25
Must was replaced with should:

  Invitation for review must be issued during each major standards-track
document transition, including FPWD and CR, and should be issued when
major changes occur in a specification.

was changed to

  Invitation for review SHOULD be issued during each major
standards-track document transition, including FPWD and CR, and should
be issued when major changes occur in

[2016-03-08 00:31] palemieux commented on #22
This does not answer the question however. What does "interoperable" mean? The W3C Process document merely speaks of "implementation experience".

[2016-03-08 16:43] andreastai opened #43 "Define a goal to define use of TTML with HTML5 text track model"
Part of the mission in the TTWG charter should be to improve interoperability between the HTML5 spec and the TTML specs. This should be done by defining how TTML can be used as "caption" or "subtitles" format for HTML5 text tracks. This requires the colloboration with other group (e.g. the Web Platform Working Group).

[2016-03-09 07:47] tmichel07 commented on #22
the 2 occurences of the word "interoperable" was simply removed.
Now for the the W3C process, sorry I can't modify it  ;-)

[2016-03-10 15:26] nigelmegitt commented on #22
TTWG Meeting 2016-03-10: Agreed to close this issue.

[2016-03-10 15:26] #22 closed, assigned to nobody

[2016-03-15 17:40] nigelmegitt commented on #43
Can't this be closed now since #44 has been merged?

[2016-03-15 17:43] #43 closed, assigned to nobody

[2016-03-31 13:04] ClaesNilsson opened #48 "[WoT]: W3C WoT WG Charter"
*_Section 1 Scope: *_
- I interpret the figure, which is an example, so that “Thing” in server A exposes a client API making it possible for the script in server A to interact with the Thing in server B. The Thing in server B exposes a server API that makes it possible for the script in server B to expose the resources (sensor and actuator) of this server to other servers and to web browsers. Corr

[2016-04-01 15:00] draggett commented on #48
The diagram would get to complicated if we want show all of the APIs, however, from the point of view of an application, it doesn't matter whether the software object is a local thing, or a proxy for a remote thing.

In respect to registration, there are two main possibilities, and I believe that we need both.  One is to create a local proxy for a remote thing. This requires the server to discover

[2016-04-04 15:30] mkovatsc commented on #48
After discussion on the mailing list, it turned out to be best to simply drop the point on "URI mappings for non-RESTful protocols".
@h0ru5 Can you confirm?

[2016-04-05 07:32] h0ru5 commented on #48
First of all thanks for the feedback!
Let me express my opinion for all of @ClaesNilsson 's points:

Ad Sect. 1 / Scope, Motivation: I see also the picture only addressing some specific side-aspects of WoT, yet that is the nature of complex matter: there is not one single image to explain it completely. However, I would like/suggest to also include images from the architecture document.

Ad Sect.

[2016-04-05 12:10] ClaesNilsson commented on #48
Thanks for your replies Dave and Johannes,

Section 1 Scope: Maybe we could add a very simple architecture figure highlighting what we want to standardize?

Section 1.2 Scripting APIs: Yes, I will propose text with a PR.

Section 1.3 Bindings to Common Protocols: The text is currently too vague, and based on your inputs Dave and Johannes I propose the following (but I am not yet ready to submit a

[2016-04-05 13:54] ClaesNilsson commented on #48
Created https://github.com/w3c/charter-drafts/pull/49 for section 1.2 on scripting APIs

[2016-04-05 15:53] draggett commented on #48
Johannes: perhaps you disagree?  In which case please justify why you feel that way.

—
   Dave Raggett <dsr@w3.org <mailto:dsr@w3.org>>

[2016-04-06 14:03] ClaesNilsson commented on #48
According to the WoT-IG TF-AP meeting April 6th I updated the PR https://github.com/w3c/charter-drafts/pull/49 with https://github.com/w3c/charter-drafts/pull/49/commits/efd02460c70bb7cd4f2fd5f78df774c0435e394a.

[2016-04-13 12:15] mjkoster opened #51 "REST is a transfer protocol"
The document frames REST as a transport protocol and suggest to define abstract messaging on top of REST. REST is a transfer protocol and already embodies a well developed simple and reusable message layer.

WoT must accommodate REST as a transfer protocol and interact with the hypermedia controls provided by underlying REST transfer systems. That there will be systems that already know how to int

[2016-04-13 12:27] mjkoster opened #52 "The figure in section 1 is an inappropriate architecture description"
The figure in section 1, showing an architecture of proxies and scripts, does not seem to be an appropriate summary of the document. It seems to create an architectural context that is misleading with respect to the problems that we are solving.

Additionally, it seems to imply some architecture constraints that aren't discussed in depth and are not broadly agreed upon. Have we all agreed to imple

[2016-04-14 11:03] draggett commented on #51
Functionally WoT defines the API exposed to applications, and how this maps to specific platforms and protocols. I don't understand what you mean by WoT should not be a replacement or alternative to REST architecture".  WoT is not a new protocol, but rather a means for platforms to interoperate using the protocols they have in common. The communications metadata needs to be sufficient for one plat

[2016-04-14 11:17] draggett commented on #52
I respectfully disagree. The diagram is not an architecture diagram and  is deliberately very general to avoid being restricted to any one architecture or network topology. It shows how server scripts can be used to define a thing in terms of sensors and actuators. It shows that client scripts can be used to interact with that thing from another device which could be a server or a web browser. In

[2016-04-19 11:14] sebastiankb opened #53 "comments from Montreal f2f meeting: "inter-platform standard""
In scope 1.1:
instead “abstraction layer on top” phrase support inter-platform standard. i.e. interoparability by providing technical standards which can be deployed and used as interplatform standards

[2016-04-19 11:16] sebastiankb opened #54 "comments from Montreal f2f meeting: "Introduction""
Include an introduction section, not only scope at the beginning

[2016-04-19 11:17] sebastiankb opened #55 "comments from Montreal f2f meeting: "Figure illustrating""
A) wot thing; scenarios were we can use it (3 examples)
B) scenarios: iot platform, discovery, it is not n+1
the interaction of things wether it is in the cloud, GW or even field device

[2016-04-19 11:18] sebastiankb opened #56 "comments from Montreal f2f meeting: "Building Block Picture""
Picture which illustrates the use of TD, Bindings to Protocols and Scripting APIs

[2016-04-19 11:19] sebastiankb opened #57 "comments from Montreal f2f meeting: "Security ""
Security summary in the introduction to explain why it is split in the setions

[2016-04-19 11:20] sebastiankb opened #58 "comments from Montreal f2f meeting: "Drop Bullet ""
1.1: drop third bullet

[2016-04-19 11:21] sebastiankb opened #59 "comments from Montreal f2f meeting: "Shorten References""
shorten without explicit (technical) reference (Oliver) in 1.1. second bullet

[2016-04-19 11:22] sebastiankb opened #60 "comments from Montreal f2f meeting: "Life Cycle""
in 1.1.: formulate a new bullet point for life cycle;

[2016-04-19 11:23] sebastiankb opened #61 "comments from Montreal f2f meeting: "client and server""
in 1.2: two bullet points for client and server --> remove servient

[2016-04-19 11:25] sebastiankb opened #62 "comments from Montreal f2f meeting: "independent of programming languages""
1.2: more explanation on independent of programming languages and API to react on life cycle;

[2016-04-19 11:30] sebastiankb opened #63 "comments from Montreal f2f meeting: "Binding collaboration""
1.3: seek for collaboration to define binding

[2016-04-19 11:34] sebastiankb opened #64 "comments from Montreal f2f meeting: "Out of scope""
We do not modify protocols

[2016-04-19 11:35] sebastiankb opened #65 "comments from Montreal f2f meeting: "Deliverables""
- Formulate them refering the scope
- Give date of first public working draft
- Take out here use case&requirements and forward to IG

[2016-04-19 11:36] sebastiankb opened #66 "comments from Montreal f2f meeting: "IG""
In 3.1: put intrest group here and talk about the role

[2016-04-19 12:34] draggett commented on #56
The existing diagram introduce concepts to supplement the text based explanation. I've now distinguished client and server scripts as this helps with the later text descriptions. The figure caption now makes it clear that this is not an architecture diagram. I've added a link to the IG's architecture document, although currently the link is to the WoT architecture update presented in Montreal, and

[2016-04-21 15:40] draggett opened #67 "Web of Things Interest Group Charter"
This issue is intended to introduce open questions for discussion in respect to the draft charter for the Web of Things Interest Group. This will replace the [old charter](http://www.w3.org/2014/12/wot-ig-charter.html) which expired on 31 March 2016.  We've asked the W3C Management Committee for a short term extension to the old charter to cover the time needed to draft a new charter, reach consen

[2016-04-22 08:44] draggett commented on #66
What are the boundaries of the respect roles of the IG and WG?  We can say that the IG provides a forum for discussion of use cases and requirements, for investigation of areas that need further study before transfer to the standardization track, and for outreach and collaboration with industry alliances and standards development organizations. We can also say that the WG can ask the IG to look in

[2016-04-22 08:48] draggett opened #68 "WoT WG coordination with external organizations?"
What should the Web of Things WG charter say in respect to coordination with external organizations? Is it okay for this coordination to be driven by the Web of Things Interest Group?

[2016-04-22 08:58] draggett commented on #65
The current draft doesn't list a deliverable for use cases and requirements, so no action on that is needed in the deliverables section.

We need dates for the FPWD, I have put 4 months after charter commencement, but the IG needs to discuss this and see if we can come up with more informed guesses.

The Charter template includes a expectation of the completion date for each deliverable. I have pu

[2016-04-22 09:02] draggett commented on #64
Your statement is a little cryptic.  I have expanded the bullet points into a definition list, and we need to now agree on the explanation of each point.

[2016-04-22 09:17] draggett commented on #63
Unclear what changes are needed to this section.

[2016-04-22 09:19] draggett commented on #62
The current text states "Where practical, APIs will be defined in ways that are independent of the choice of programming languages".  Please propose improved wording!

The current text states "Thing lifecycles, e.g. registering and creating things, either from a thing description or using scripting and enabling applications to be aware of lifecycle transitions". Please propose improved wording!

[2016-04-22 09:22] draggett commented on #61
Done. The wording  of section 1.1 to 1.3 still needs to be reviewed for clarity and fitness for purpose

[2016-04-22 09:28] draggett commented on #60
I don't think a separate bullet point is needed.  We can instead simply insert "thing lifecycles" in the first bullet

"A Linked Data vocabulary for describing things in terms of the data and interaction  models they expose to applications. This will cover thing lifecycles, datatypes, ..."

[2016-04-22 09:37] draggett commented on #58
Strongly disagree:

The WG should be able to specify normative requirements that enable processing of  metadata on resource constrained devices in an interoperable fashion. Moreover, the binding to RDF is important for scalability. There is a common assumption that JSON-LD or EXI are sufficient, but we should not tie the hands of the WG in that respect. It could well be that the WG opts for a JSON

[2016-04-22 09:48] draggett commented on #57
I've added some text to the introduction for review.

[2016-04-22 09:59] draggett commented on #56
Do we need a building blocks picture and what purpose would it serve?

Presumably this would include the building blocks that correspond to the Working Group's deliverables.

Lacking inspiration, I instead added a box with bullet points that summarise the deliverables.

[2016-04-22 10:02] draggett commented on #55
Is this something we should have in the charter itself, rather than as a link to the architecture document that is a work item for the Interest Group?

Kaz noted that most charters have relatively short introductions which argues for a link to an external document.

[2016-04-22 10:08] draggett commented on #54
Now split off, which adds one to the following section numbering.

[2016-04-22 10:13] draggett commented on #53
Done.

[2016-04-22 10:13] #53 closed, assigned to nobody

[2016-04-22 10:39] draggett opened #69 "Web of Things Working Group: Privacy"
Privacy is a major concern for end users as the IoT greatly increases the amount of personal information that can be collected by service providers. We need to address privacy in some way, but how?

One idea is to state that this is an areas for study by the Interest Group and that this is expected to lead to new standardisation track work items.

Related ideas include metadata defining links to p

[2016-04-22 10:53] draggett opened #70 "Web of Things Working Group: Privacy"
We won't be allowed to ignore privacy.

Privacy is a major concern for end users as the IoT greatly increases the amount of personal information that can be collected by service providers. We need to address privacy in some way, but how? One idea is to state that this is an area for study by the Interest Group and that this is expected to lead to new standardisation track work items.

Privacy is p

[2016-04-22 10:53] #69 closed, assigned to nobody

[2016-04-22 11:19] draggett opened #71 "What is the relationship between the Web of Things and the Open Web Platform?"
In the Web of Things IG we have focused on technical issues that effect IoT platforms, but not web browsers.  Can we clarify this to avoid misunderstandings on the behalf of people working on browsers?

For instance, we have so far avoided discussion on APIs for sensors and actuators leaving these to the corresponding platforms to define.  For security APIs, it may not be so clear.

[2016-04-22 13:46] sebastiankb commented on #58
Please note, this comment address the bullet "A Linked Data vocabulary for enabling open markets of services, including trust assertions, privacy policies, access control, payments, terms and conditions" in 1.1. which was agreed to remove it.

[2016-04-26 11:43] sebastiankb commented on #67
From my point of view, we need a consolidation and we should concentrate on three main agenda points for the IG charter:
-   New WoT topics and work items that have not been addressed so far (topics should be in disjunction to the WG topics)
-   Plugfests for evaluation of current work assumptions
-   Supplier and supporter of the WoT WG

The first point should include new use case discussions and

[2016-04-26 11:50] mkovatsc commented on #60
(I had this on my action item list.)
I am fine with the current text solution, since it is about at the same complexity as early and late bindings, and it does not need to be highlighted like the security features.

+1 for closing this issue

[2016-04-26 11:58] mkovatsc opened #72 "[WoT] Thing Description support for streams"
2.1 of the charter says "including streams". This is already a very specific solution for an at the moment undefined/unmentioned problem. The problem I see is the support for time series. While streams can be a solution for that, most IoT protocols do not have support for this. Furthermore, we currently have no current practices for streaming, and hence no evaluation of its feasibility.

Proposal:

[2016-04-26 21:08] takuki commented on #67
Among the list of discussion points Dave created, there are many things that are about how IG will  interact with other groups, and the rest is about defining the product of the IG.

I drew a chart [https://github.com/takuki/charter-drafts/blob/gh-pages/WoT%20IG%20relationship.png](url) describing the interactions with other groups.

As Sebastian said, I also think two years term is a bit long.
On

[2016-04-26 21:10] takuki commented on #67
Among the list of discussion points Dave created, there are many things that are about how IG will  interact with other groups, and the rest is about defining the product of the IG.

I drew a chart [https://github.com/takuki/charter-drafts/blob/gh-pages/WoT IG relationship.png](url) describing the interactions with other groups.

As Sebastian said, I also think two years term is a bit long.
One id

[2016-04-26 21:12] takuki commented on #67
Among the list of discussion points Dave created, there are many things that are about how IG will  interact with other groups, and the rest is about defining the product of the IG.

I drew a chart describing the interactions with other groups.

https://github.com/takuki/charter-drafts/blob/gh-pages/WoT IG relationship.png

As Sebastian said, I also think two years term is a bit long.
One idea may

[2016-04-26 21:12] takuki commented on #67
Among the list of discussion points Dave created, there are many things that are about how IG will  interact with other groups, and the rest is about defining the product of the IG.

I drew a chart describing the interactions with other groups.

https://github.com/takuki/charter-drafts/blob/gh-pages/WoT%20IG%20relationship.png

As Sebastian said, I also think two years term is a bit long.
One idea

[2016-04-27 08:33] sebastiankb commented on #71
I’m not sure if I understand your comment correctly. We have an API task force (AP-TF) in the IG that addresses this API issues. Current work assumptions can be found in the current practices document.

[2016-04-28 10:48] draggett commented on #72
I would prefer to stick with streams and explain it better.  In particular, a stream is an interface for interacting with a time sequence of values.

I don't see why you say that most IoT protocols do not have support for streams.  It looks like you are confusing the API exposed to applications with the communication patterns used with particular protocols.  For the data model, we need a streams i

[2016-04-28 15:52] ClaesNilsson commented on #68
Not quite I think. Section 2.3 "Bindings to Common Platforms and Protocols" states:
"the Working Group will seek to define standard bindings to common platforms and protocols in close collaboration with the industry alliances and standards development organizations responsible for these". That indicates that collaboration must be performed for the detailed specification work performed in the WG.

[2016-04-28 16:26] draggett commented on #68
Including a list of organisations is valuable, but also problematic as the list is likely to change over the charter period. For example, an agreement with the OPC Foundation was inked at this week's Hannover Fair.

[2016-04-29 08:22] sebastiankb commented on #67
why is a new issue thread opened with the same name? Where should I now comment on?

[2016-04-29 10:52] mkovatsc commented on #67
This is due to moving from w3c/draft-charters to the w3c/wot repository.
We can close the issue here.

[2016-04-29 12:35] mkovatsc commented on #71
So far, browser vendors were quite disinterested in the topic of IoT. Based on my Copper project, I have been in contact with people from Mozilla, Google, and the WHATWG. From what I saw, WebRTC has been their new baby so far and there was little interest to look into IoT support.

A valid comment was, that we there must be a well-defined security model before IoT support can go into the Web brows

[2016-04-29 12:50] #72 closed, assigned to nobody

[2016-04-29 13:57] sebastiankb commented on #67
ok for me

[2016-04-29 14:20] draggett commented on #72
Note that this issue is closed as we're moving the discussion to https://github.com/w3c/wot/issues

[2016-04-29 14:22] draggett commented on #67
Closing this issue - please continue the discussion at https://github.com/w3c/wot/issues

[2016-04-29 14:22] #67 closed, assigned to nobody

[2016-04-29 15:12] #48 closed, assigned to nobody

[2016-05-17 12:12] mkovatsc commented on #54
Done in https://w3c.github.io/charter-drafts/wot-wg-2016.html
Please close this issue, since this version was ported to https://github.com/w3c/wot/blob/master/charters/wot-wg-2016.html.

[2016-06-22 15:09] draggett commented on #71
Mozilla are refocusing on the IoT, Google are trying to leverage Android and their cloud based platform. I am aiming to draw in the browser vendors to the IG  when it is rechartered.  This thread can now be closed as we've moved the charter to the WoT IG repository.

[2016-06-22 15:09] #71 closed, assigned to nobody

[2016-06-22 15:10] draggett commented on #70
We've moved the charter to the WoT IG repository will track issues there.

[2016-06-22 15:10] #70 closed, assigned to nobody

[2016-06-22 15:10] draggett commented on #68
We've moved the charter to the WoT IG repository will track issues there.

[2016-06-22 15:10] #68 closed, assigned to nobody

[2016-07-14 01:53] sebastiankb commented on #65
as decided in Beijing f2f,  this comment is closed

[2016-07-14 01:53] #65 closed, assigned to nobody

[2016-07-14 01:53] sebastiankb commented on #66
as decided in Beijing f2f,  this comment is closed

[2016-07-14 01:53] #66 closed, assigned to nobody

[2016-07-14 01:54] sebastiankb commented on #63
as decided in Beijing f2f,  this comment is closed

[2016-07-14 01:54] #63 closed, assigned to nobody

[2016-07-14 01:54] sebastiankb commented on #64
as decided in Beijing f2f,  this comment is closed

[2016-07-14 01:54] #64 closed, assigned to nobody

[2016-07-14 01:55] sebastiankb commented on #62
as decided in Beijing f2f,  this comment is closed

[2016-07-14 01:55] #62 closed, assigned to nobody

[2016-07-14 01:55] sebastiankb commented on #61
as decided in Beijing f2f,  this comment is closed

[2016-07-14 01:55] #61 closed, assigned to nobody

[2016-07-14 01:56] sebastiankb commented on #60
as decided in Beijing f2f,  this comment is closed

[2016-07-14 01:56] #60 closed, assigned to nobody

[2016-07-14 01:56] sebastiankb commented on #59
as decided in Beijing f2f,  this comment is closed

[2016-07-14 01:56] #59 closed, assigned to nobody

[2016-07-14 01:57] sebastiankb commented on #58
as decided in Beijing f2f,  this comment is closed

[2016-07-14 01:57] #58 closed, assigned to nobody

[2016-07-14 01:57] sebastiankb commented on #57
as decided in Beijing f2f,  this comment is closed

[2016-07-14 01:57] #57 closed, assigned to nobody

[2016-07-14 01:57] sebastiankb commented on #55
as decided in Beijing f2f,  this comment is closed

[2016-07-14 01:57] #55 closed, assigned to nobody

[2016-07-14 01:58] sebastiankb commented on #56
as decided in Beijing f2f,  this comment is closed

[2016-07-14 01:58] #56 closed, assigned to nobody

[2016-07-14 01:58] sebastiankb commented on #54
as decided in Beijing f2f,  this comment is closed

[2016-07-14 01:58] #54 closed, assigned to nobody

[2016-07-19 05:24] ashimura commented on #52
as decided during the Beijing f2f,  this comment is closed

[2016-07-19 05:24] #52 closed, assigned to nobody

[2016-07-19 05:25] ashimura commented on #51
as decided during the Beijing f2f,  this comment is closed

[2016-07-19 05:25] #51 closed, assigned to nobody

[2016-08-02 17:24] svgeesus opened #82 "Previous charters"
In the template, there is a section called **Charter History**, but with a note that this section is solely for charter _extensions_. However, it is at least customary to include a link to the previous charter, when rechartered rather than just extended.

I suggest fixing this by making the history section apply to both rechartering and extension (so it would not be included in a brand new charter

[2016-08-02 17:26] svgeesus commented on #82
Actually I see the table does have entries for rechartered, so it is the introductory text which is incorrect

[2016-08-02 17:28] svgeesus commented on #82
Suggested fix is https://github.com/w3c/charter-drafts/pull/83

[2016-08-10 09:09] therealglazou opened #84 "Number of meetings per year"
The current template reads, in the Meeting Schedule line of the header, "no more than 3 per year". I suggest changing it to "usually no more than 3 per year" to allow ad-hoc extra meetings if the WG needs them.

[2016-08-10 10:00] koalie commented on #84
Makes sense. Done!

[2016-08-10 10:00] #84 closed, assigned to nobody

[2016-10-07 14:17] wseltzer commented on #82
That's been merged, closing.

[2016-10-07 14:17] #82 closed, assigned to nobody

[2016-10-11 20:03] shawna-slh opened #93 ".todo colors"
https://www.w3.org/2006/02/charter-style.css

and /charter-drafts/charter-template.html

make for difficult and uncomfortable reading. The yellow is too bright and the contrast ratio is only 3.97:1. (for more info: [Perspectives](https://www.w3.org/WAI/perspectives/contrast.html), [Easy Checks](https://www.w3.org/WAI/eval/preliminary#contrast), [WCAG](https://www.w3.org/TR/UNDERSTANDING-WCAG20/vis

[2016-10-12 06:24] koalie commented on #93
Thank you, Shawn! Done in github for the template, and elsewhere for the style sheet:
[[/w3ccvs/WWW/2006/02/charter-style.css,v  <--  WWW/2006/02/charter-style.css
new revision: 1.39; previous revision: 1.38]]

[2016-10-12 06:24] #93 closed, assigned to nobody

[2016-10-26 08:57] tidoust opened #96 ""charter approval" should be "call for participation""
A comment raised during the call for review for the renewal of the Second Screen Working Group: in section 2, "at the time of charter approval" is better expressed as "at the time of the call for participation" because it is the formal notice of approval and initiation.

See comment in (member-only link):
https://lists.w3.org/Archives/Member/w3c-archive/2016Oct/0434.html

[2016-10-26 09:00] tidoust opened #97 ""half of a day" should be "half a working day""
A comment raised during the call for review for the renewal of the Second Screen Working Group: in section 4, "half of a day" is ambiguous because it could mean 12 hours. Suggestion is to use "half a working day".

See comment in (member-only link):
https://lists.w3.org/Archives/Member/w3c-archive/2016Oct/0434.html

[2017-01-12 11:30] svgeesus commented on #97
Fixed by https://github.com/w3c/charter-drafts/commit/b6dda85a564077c11ef905f54b39aa3e315e8c03

[2017-01-12 11:30] #97 closed, assigned to nobody

[2017-01-12 11:32] svgeesus commented on #96
Fixed, see https://github.com/w3c/charter-drafts/blob/gh-pages/charter-template.html#L87

[2017-01-12 11:32] #96 closed, assigned to nobody

[2017-01-30 20:58] koalie opened #107 "Which charter template for CGs?"
I see from the description here that the charter template is good for WGs and CGs.
However in the [CGs documentation](https://www.w3.org/community/about/good-practice-for-running-a-group/), we suggest people refer and use the [recommended charter template](https://github.com/w3c/cg-charter).

They're not the same. Can we choose one and update our various documentations? #kthx!

[2017-02-15 16:35] wseltzer opened #108 "Definitions"
@plehegar see if https://github.com/w3c/charter-drafts/blob/gh-pages/draft-states.md meets your and team contacts' needs

@caribouW3 I refer to the tool we discussed to help team contacts in identifying the Reference Draft.

[2017-02-15 19:15] plehegar commented on #108
Yep, That fits my need

[2017-02-15 19:51] wseltzer commented on #107
Thanks @koalie. I suggest we point everyone to the same template, the one in charter-drafts.

When someone updates the CG documentation, they might also point out that many groups are using github issues rather than tracker.

[2017-02-16 11:42] caribouW3 commented on #108
If I understood correctly, you need the uri of the CR when the latest CfE-triggering document is a CR.
Right? (technically we also call it a RefDraft, but the process definition of Reference Draft is not aligned with the current implementation of the PP)

[2017-02-16 19:55] wseltzer commented on #108
Yes, what we need as "Reference Draft" is: latest of CR, WD in (FPWD+90)

[2017-06-02 21:49] henceproved opened #118 "Web Assembly WG: charter length should be 2 years"
https://w3c.github.io/charter-drafts/webassembly.html

We discussed the Web Assembly WG charter draft internally at Google, and believe the current charter length of 3 years to be too long. In general, we would like to see charters that enable re-evaluation of the WG's deliverables at about the same cadence as spec publication, to allow for expanding scope over time, and for work to move between g

[2017-06-03 00:06] flagxor commented on #118
Sounds fine. I happen to have chatted with Johnny Stenback when he visited the Wasm CG meeting. The CG chair + others seems fine with 2 years (3 was just some arbitrary guess).
Will revise.

[2017-06-03 00:27] flagxor commented on #118
Adjusted:
https://github.com/w3c/charter-drafts/commit/a4f9115b94851342ea7acb6ce9041b21c55c26a5

[2017-06-03 00:27] #118 closed, assigned to nobody

[2017-06-21 17:48] plehegar commented on #108
I think we dealt with this one. Feel free to reopen if you think otherwise.

[2017-06-21 17:48] #108 closed, assigned to nobody

[2017-06-28 11:22] koalie commented on #107
Having reviewed both templates, my opinion is that a specific CG template continues to make sense. I have therefore proposed #119.

[2017-07-31 14:32] wseltzer opened #128 "[charter template] Teleconferences"
We've gotten feedback that teleconferences are hard to make globally inclusive because of timezones and language barriers. In addition, more groups are finding github issues and mailing lists more effective for discussion and issue resolution. Groups are free to schedule teleconferences taking these issues into account, but let's remove them from the charter template default.

[2017-07-31 14:38] wseltzer opened #130 "[charter template] Note: Using the template"
While a charter is being drafted, use [DRAFT];
When it is proposed to the Advisory Committee for review, => [PROPOSED], and freeze the text.

Should we then move it to date-space? Alternately, if using github refs, include the last commit ID.

[2017-07-31 14:42] wseltzer opened #131 "[charter template] Privacy and security considerations"
Change the "should" to a must for privacy and security considerations? and for the other success criteria at this point?

[2017-07-31 14:56] wseltzer opened #132 "[charter template] decision policy"
Some charters say that consensus on a call or meeting is provisional until confirmed online after publication in meeting minutes. Commenters have suggested that this may not provide enough notice of potential controversial decisions. Should the charter require a work-mode that calls out distinct CfC messages on the mailing list?

[2017-07-31 15:12] wseltzer opened #133 "[charter template] note on Scope section"
The scope section has a key function: to guide the WG chairs, participants, and reviewing legal teams on the outer boundaries of their work and patent commitments. To facilitate that review "Scope" should be limited to a clear description of the WG's permitted work areas. Other material (background, explanations, motivations) should go outside the Scope section.

[2017-07-31 19:30] wseltzer opened #135 "[charter template] add GH link for comments on draft"
https://github.com/w3c/charter-drafts/pull/134

[2017-07-31 22:49] koalie commented on #130
I support moving a proposed charter to date-space.

[2017-08-07 15:54] wseltzer commented on #130
Thanks @koalie, we'll make that recommended practice.

* Before proposing to the AC, move the PROPOSED charter to w3.org date-space (leaving a pointer to the github repo for continued issue-raising). That way, we can update the draft in response to AC review comments, without changing what's being reviewed.

[2017-08-17 14:00] wseltzer commented on #130
Noted in README

[2017-08-17 14:00] #130 closed, assigned to nobody

[2017-08-17 14:59] tantek commented on #131
Possibly as a CR entry requirement?

When a spec explicitly encourages implementations (CR), presumably the spec authors should at least provide an attempt at privacy and security considerations section for those implementations to consider.

[2017-08-17 15:02] tantek commented on #132
The opposite, charters should allow for a WG to choose not to use a mailing list for anything formal.

[2017-08-17 15:07] tantek commented on #128
Accepting the concerns noted (timezones etc.), I for one have found that teleconferences in practice have served as a useful regular "push" for productive milestones in WGs, as well as being a point where disparate conversations can be quickly summarized/curated by chairs towards WG consensus, much more so than async methods. I agree there needs to be a good balance of use of async methods (github

[2017-11-07 15:57] nigelmegitt opened #140 "Add code of conduct link to charter template"
Code of Conduct should be linked in the Participation section of the Charter template, for avoidance of doubt about what members are signing up to when they join.

[2018-01-24 17:45] tguild opened #141 "Implementations of each feature"
at least two independent implementations</a> of each of feature defined in the specification.

seems a bit off with respect to the wording

better may be:

at least two independent implementations</a> of each of the features defined in the specification.

or as an Auto WG colleague suggested:

at least two independent implementations</a> of every feature defined in the specification.

https://gith

[2018-05-18 11:19] LJWatson opened #144 "[template] Add accessibility to statement about privacy and security"
We should add accessibility to the following statement:
<Each specification must contain a section detailing any known security or privacy implications for implementers, Web authors, and end users.<

Accessibility is a legal requirement in many regions of the world. The W3C should be ensuring that implementors and authors have the information they need to use our standards in ways that meet the ac

[2018-09-14 13:19] wseltzer opened #146 "[template] Include a pointer to incubation practices, location"
See also https://github.com/w3c/wg-effectiveness/blob/master/continuous_incubation.md

[2018-09-14 13:20] wseltzer commented on #146
Charters might want to indicate where related incubation happens (in WG, CG, WICG, etc.)

[2018-09-17 08:37] nigelmegitt commented on #146
Also scope of incubation, how incubation contributions can be made, and if different IPR requirements for such contributions (e.g. to allow CG-style "incubation membership" of a WG) apply.

[2018-09-17 10:03] nigelmegitt opened #147 "[template] Include a pointer to deadline-driven publication methodology"
Add a section or pointer to the WG's primary intended working style, for example suggested alternatives:

* WG intends to work on drafts, get to a review stage, do a big review, then publish/request transition of next stage of maturity when all the pieces are in place.
* WG intends to review all changes as pull requests, reviewing incrementally, and publish/request transition of next stage of matu

[2018-10-09 22:43] samuelweiler opened #148 "add history to web apps charter"
The charter says "The WebApps Working Group was a predecessor to the Web Platform Working Group...".  Given that, there should be some detailed history in section 10.1

[2018-10-09 22:52] samuelweiler opened #150 "add link to WPWG"

[2018-10-09 22:56] samuelweiler opened #152 "team contact FTEs seems too low"
https://rawgit.com/w3c/charter-drafts/gh-pages/webapps-2019.html proposes .1 FTE.  Can 17 specs be shepherded in only two days per month?  Will the WG really need that little support?

[2018-10-09 22:59] samuelweiler opened #153 "clean up security review requirements"
resolved by https://github.com/w3c/charter-drafts/pull/149

[2018-10-10 08:58] LJWatson commented on #152
The draft WebApps charter is by no means complete yet, hence this and other apparently missing and/or incorrect pieces of information.

[2018-10-12 15:58] #107 closed, assigned to nobody

[2018-10-12 16:42] #150 closed, assigned to nobody

[2018-10-12 16:49] LJWatson commented on #152
Ping @plehegar

[2018-10-14 16:58] LJWatson opened #157 "WebApps charter: Implementor interest"
The intent of this is good, but I'm concerned about the specifics...

Is "willing to commit to collaborate" the same as "willing to implement"?

What does this actually look like? Is it a public statement of intent to implement; active participation in the development of the spec; something else?

Can we put a time constraint on this, knowing that we'd need to recharter every time we wanted to tra

[2018-10-14 16:59] LJWatson commented on #157
Ping @marcoscaceres and @chaals

[2018-10-14 17:03] LJWatson opened #158 "WebApps charter: Test suite completion"
The current WebPlat charter requires that the test suite be completed before entering CR, but this text changes that so the test suite is required to exit CR.

There are pros and cons for each approach. I don't feel strongly either way, though having the test suite complete before entering CR does lend itself better to the idea of test driven spec development.

Flagging it here to make sure we cho

[2018-10-14 17:04] LJWatson commented on #158
Ping @marcoscaceres  and @Chaals

[2018-10-14 17:06] LJWatson opened #159 "WebApps charter: Browser implementations"
Do we want to restrict this to web browsers? Browsers are the most likely source of implementations, but restricting it to browsers seems like an un-necessary constraint.

[2018-10-14 17:06] LJWatson commented on #159
Ping @marcoscaceres  and @Chaals

[2018-10-14 17:09] LJWatson opened #160 "WebApps charter: Location of priv//sec/a11y content"
If we document this in the charter, my strong preference is for a distinct section in each specification. It makes it much easier for people to find the information they need, and it doesn't preclude information being added inline.

[2018-10-14 17:10] LJWatson commented on #160
Ping @marcoscaceres  and @chaals

[2018-10-14 17:23] chaals commented on #159
No, I don't think such a restriction is a good idea.

[2018-10-14 17:29] chaals commented on #158
"fully and demonstratively complete"?

I'm not sure that we should require a test suite before CR. It is a good practice, but especially as phrased this front-loads a pile of work that could be usefully done *during* CR in fleshing out details. Besides which, demonstrating a test suite is complete is a bit of a fools' errand in most cases I've seen for Web Standards, since it pretty much negates t

[2018-10-15 00:17] chaals commented on #157
(I try to avoid the word shall, FWIW).

Hmm. Agree with the concern about not wanting to recharter every few months (because unfortunately that is still much more painful than it should be - in an ideal world that would not be true and I would be fine).

I think it makes sense to want more than one implementor willing to work on the spec, but I agree with @LJWatson that it isn't clear what that lo

[2018-10-15 00:36] marcoscaceres commented on #159
Can expand it. I just don’t want rando toy implementations counting. We need real software that actual people use, and not research projects or anything like that.

[2018-10-15 01:12] chaals commented on #159
@marcoscaceres said

Agreed. But "browsers" is a pretty inaccurate proxy for that. I think we should be clearer about what we really mean.

[2018-10-15 02:28] marcoscaceres commented on #159
@chaals, sure - let me see if I can find some suitable text from other charters or can craft something up.

I guess a larger question is: are any of the deliverables NOT specifically targeted at web browsers? Or, alternatively, would any deliverables be blocked from progressing along the Rec Track because they are not implemented in a web browser?

I can't see any from our deliverables list that w

[2018-10-15 02:37] marcoscaceres commented on #141
"feature" doesn't really make sense tho, because what's a feature? Specs do define conformance requirements tho, which are concrete things that can be tested and computationally verified.

[2018-10-15 02:39] marcoscaceres commented on #148
I wonder if we should actually reduce this more... The purpose of the charter is for mission, scope, and listing deliverables, and groups we will liaise with (and possibly a few other procedural things) - so feel like history might best be put on the working group's homepage.

[2018-10-15 02:47] marcoscaceres commented on #160
@LJWatson, yes, that makes sense.

[2018-10-15 03:04] marcoscaceres commented on #158
@LJWatson wrote:

Exactly. Why I do feel strongly about it. I've been burnt by this too many times :(

@chaals wrote:

The problem is that significant bugs are *always* found during creation of the test suite. That makes makes a huge mess for editors, lawyers, chairs, the w3c team, documentation teams, etc.

Spec bugs will, of course, be found during CR: that's what CR is for - but having a fairly

[2018-10-15 04:57] marcoscaceres commented on #157
@LJWatson wrote,

I don't think we can go as far as willing to implement, because some companies won't reveal that - but they do give positive signals or actively work together on things.

For the payment specs, we ask a public commitment to implement. This usually takes the form of a link to a bug tracker (e.g., bugzilla for Mozilla) or some kind of public comment, like teleconference minutes. An

[2018-10-15 05:03] marcoscaceres commented on #157
@chaals  wrote:

No, I promise you it's easy. Look at this pull request and the links to the bug tackers:  https://github.com/w3c/payment-request/pull/765

Literally just drop a link in and check a box. It's not very hard and it's the least people can do.

If Editors can't get two implementation commitments for things, then those things can't land in the spec. It's that simple.

Right, this protec

[2018-10-15 13:15] LJWatson commented on #159
Perhaps we can simplify things... if we require at least two statements of intent to collaborate/implement for all specs transitioning into the WG, and team that up with the requirement to have at least two implementations for each feature in a spec, does that do the trick?

Do we think there are specs (in the current charter) that do nnot meet the first of these criteria?

[2018-10-15 13:33] LJWatson commented on #158
As I mentioned above, the current WebPlat charter already has this as a requirement:

and to promote interoperability between User Agents. Therefore, each specification must have a companion test suite, which should be completed before transition
to Candidate Recommendation, and must be completed, with an implementation report, before transition from Candidate Recommendation to Proposed Recommenda

[2018-10-15 20:37] wseltzer commented on #140
The Code of Conduct is now specified in the Process, https://www.w3.org/2018/Process-20180201/#ParticipationCriteria : "Participants in any W3C activity must abide by the terms and spirit of the W3C Code of Ethics and Professional Conduct."

Should we duplicate that in charters, for emphasis?

[2018-10-16 04:42] marcoscaceres commented on #158
Like it! Will send a PR.

[2018-10-16 04:53] marcoscaceres opened #162 "Give Marcos write access"
Can I please have write access to this repository?

[2018-10-16 05:08] marcoscaceres commented on #157
So, irrespective, of my last comment - I think dropping what I proposed about the WICG might just be what happens in practice (or we just move things to be a Note if things stop moving). I'm going to remove what I wrote.

[2018-10-16 05:15] marcoscaceres opened #165 "Web apps: Success criteria lacks success criteria"
The success criteria section currently lacks actual success criteria.

Should we be clear about what success looks like? Like, getting things to REC.

I'd still like to get some clarity around specs that sit around for years. Can we get some kind of success criteria around those? I'm worried about being the "Web Maintenance Working Group", but also aware some specs just won't get any love for a lo

[2018-10-16 06:10] marcoscaceres commented on #165
Actually, this is a duplicate of #159

[2018-10-16 06:10] #165 closed, assigned to nobody

[2018-10-16 06:16] marcoscaceres commented on #159
@LJWatson:

* ARIA in HTML.
* Using ARIA

Because they are authoring guidelines. The rest seem ok.

[2018-10-16 06:28] marcoscaceres commented on #159
Let's go with what CSS WG uses:

"The work is considered a success if there are multiple, independent, interoperable implementations of its specifications that are widely used."

The "widely used" alleviates my concern about polyfills - while "implementations" is wide enough to encompass ATs and browsers.

[2018-10-16 06:54] #158 closed, assigned to nobody

[2018-10-16 07:14] #160 closed, assigned to nobody

[2018-10-16 07:15] #157 closed, assigned to nobody

[2018-10-16 07:19] #159 closed, assigned to nobody

[2018-10-16 08:19] nigelmegitt commented on #140
I don't think so, no, at least not as a normative statement. It creates a dependency and potential ambiguity if the wording differs between the charter and the Process, either when the charter is approved or later if the Process changes.

It also suggests that some Group might be able to choose a different code of conduct, which is not the intention.

Duplication can, in that sense, weaken the req

[2018-10-16 08:55] chaals commented on #140
I think duplicating the pointer is fine actually, since it is the Code itself that sets the requirements...

[2018-10-16 08:56] #162 closed, assigned to nobody

[2018-10-16 08:58] nigelmegitt commented on #140
@chaals Isn't the requirement to work within the Code in the Process?

[2018-10-16 13:14] #152 closed, assigned to nobody

[2018-10-23 08:10] LJWatson opened #169 "Complex accessibility expectations"
Each specification should contain a section on accessibility that describes the benefits and impacts, including ways specification features can be used
to address them, and recommendations for maximising accessibility in implementations.>

This is a complicated way to describe this expectation, that will make it harder for chairs and editors to understand what is needed.

Suggest putting accessibi

[2018-10-26 10:48] marcoscaceres opened #170 "Web apps charter scope"
Need to make sure that the charter has enough scope for Web Share, File stuff, and Badging. It might already, but need to check.

[2018-10-26 12:24] LJWatson commented on #170
Was wondering which category we should put these specs in, in the carter, but actually wondering if we should just simplify all specs into a single table?

[2018-10-26 14:41] marcoscaceres commented on #170
Yes, let's combine into a single table. And then just focus on the scope. I'll send a PR for the scope.

[2018-10-31 07:30] marcoscaceres commented on #170
@LJWatson the specs combined into a single table is pull request #172.

[2018-11-30 20:02] ylafon opened #175 "[charter-template] duplicate id in duration."
Both Start date and End date share the 'Duration' id.

[2018-12-03 08:53] LJWatson opened #178 "WebApps spec: Strangeness in the Deliverables table"
Not sure if this is intentional, but it seems that some strange content has been introduced into the 2.1 Normative specifications table. For example:

* The description for ARIA in HTML now starts with ```<<<<<<< HEAD```
* The description for Clipboard now includes ```=======

Level 1...```
* The description for contentEditable contains ```>>>>>>> 58eadd32d50f35e15a42815964720c25e3887eb6```

It go

[2018-12-03 10:07] ylafon commented on #178
Which version are you looking ?  It looks like a result of a conflict in a merge, but I don't see it in the gh-pages branch.

[2018-12-03 10:12] LJWatson commented on #178
Hmm. I had updated my local clone and was looking at that. I've just looked at the [published version](https://w3c.github.io/charter-drafts/webapps-2019.html) though, and it's completely different (even the tables are different), so I'm puzzled...

[2018-12-03 13:27] marcoscaceres commented on #178
Checking in the browser, the link above appears to be up to date. Might just be the page is cached?

[2019-01-14 06:43] frivoal opened #184 "[svg-2019][charter template] Sentence fragment"
The third paragraph of Section "1.1 Success Criteria" of the [svg 2019 charter](https://w3c.github.io/charter-drafts/svg-2019.html) reads:

That's not a full sentence.

[2019-01-14 06:49] frivoal opened #185 "[svg-2019] term defined in external, unstable document"
Pragraph 2 of section "2 Deliverables " of https://w3c.github.io/charter-drafts/svg-2019.html says:

With a link to https://github.com/w3c/testing-how-to/#test-as-you-commit-pointer-event-whatwg-webperf to define "test as you commit".

That document is can be changed without an AC ballot (and also, incidentally, is not hosted on w3.org).

Charters should be stable and self contained. That definiti

[2019-01-14 06:59] frivoal opened #186 "[svg-2019] must test as you commit is too strict"
[The svg 2019 charter](https://w3c.github.io/charter-drafts/svg-2019.html) requires a "test as you commit policy", which is defined as (see also https://github.com/w3c/charter-drafts/issues/185):

If I'm reading this correctly, if you cannot justify tests being unneeded, then it is forbidden to merge the spec PR. I believe this means that if a PR should have tests, and is lacking them because nobo

[2019-01-14 07:24] frivoal opened #187 "[svg-2019] Mandatory external incubation?"
Section "1. Scope" of https://w3c.github.io/charter-drafts/svg-2019.html

Says:

That is very reasonable, and I support it.

However, section "3. Coordination" / subsection "3.1 W3C Groups" goes on to say:

This forbids the SVG WG from taking on new specs unless they have been "available" in one browser. "available" is not defined, but I suppose it means and will be understood as shipping.
* The S

[2019-01-14 08:00] frivoal opened #188 "[svg-2019] Timeline unrealistic"
The [charter](https://w3c.github.io/charter-drafts/svg-2019.html) expects an SVG2 REC in Oct 2019. The seems very unrealistic to me. The [svg directory of the wpt project](https://github.com/web-platform-tests/wpt/tree/master/svg) is starting to show a decent number of tests [1], but that still falls far short of the amount that will be needed for such a large specification. This alone seems enoug

[2019-01-14 15:56] AmeliaBR commented on #187
I agree with Florian's concerns about the specific wording.

Based on conversations we've had in the working group, I would expect that the criteria for moving a proposal from the community group to the WG would be more like "has support from" or "has implementation commitments from" at least one major browser, or at least two SVG implementers (not all of whom are browsers).

[2019-01-14 16:02] AmeliaBR commented on #186
I don't read this as a "must have tests before merging". I read it as "if tests won't be required, that must be noted on the PR", otherwise tests are expected.

The "must" is nonetheless still a little strong. As Florian notes, we tend to be understaffed at the SVG WG and although we have been reviewing all normative edits since we went to CR, sometimes people merge and then remember about other t

[2019-01-14 21:19] ewilligers commented on #188
I believe the goal is to have tests for features added since SVG 1.1.

See issues marked [Test suite](https://github.com/w3c/svgwg/labels/Test%20suite) for the tests we believe are needed.

[2019-01-14 22:01] svgeesus commented on #188
As the charter states:

[2019-01-14 22:05] svgeesus commented on #184
Redirecting this issue, as the sentence in question comes from the [W3C charter template](https://github.com/w3c/charter-drafts/blob/gh-pages/charter-template.html#L160)

[2019-01-15 04:45] frivoal commented on #184
Well, it's a problem with the template, but also with the shg charter. Should be tagged on both

[2019-01-15 23:35] frivoal commented on #188
Sure, and the difference between SVG1.1 and SVG2 is much smaller than between CSS1 and CSS2, so this is not a perfect comparison. Even then, 300 tests as you have now is around the amount that's appropriate for a small specification like css-ui. You may not need over 9000 tests, but you'll certainly need many more than what you currently have. I'll be the first to be delighted if we can wrap this

[2019-01-16 17:44] svgeesus commented on #186
Note that this wording [also comes from the W3C charter template](https://github.com/w3c/charter-drafts/blob/gh-pages/charter-template.html#L164) and is seen as good practice for all W3C WGs moving forward.

[2019-01-16 17:48] svgeesus commented on #185
All CSS WG drafts can be changed without an AC ballot and are not hosted on w3.org; the web still runs on them just fine.

There is a tendency to move documents like this off the w3.org site (and especially, off Member space) and host them on GH instead, precisely so that issues can be raised and tracked.

The link is wrong btw, it should be [https://github.com/w3c/testing-how-to/#test-as-you-comm

[2019-01-16 18:12] frivoal commented on #186
I think testing as you go is good practice. I think denying the chairs the ability to accept a change in a spec unless there are tests or tests are not needed at all is misguided. I'm not 100% sure that the language intends to be that strong, but I can read it that way, and I think that's a mistake.

The wording you linked to in the charter template is different, and much more reasonable, as it us

[2019-01-16 18:17] frivoal commented on #185
Editors draft are not supposed to need an AC ballot. So it is OK for them to be possible to update without an AC ballot.

Charters are supposed to need an AC ballot. It is not OK for them to normatively depend on things that can be changed arbitrarily.

As for the domain:
* Editor's draft have no status, it's not all that important
* csswg.org could be transfered to the W3C if its current host gav

[2019-01-17 21:38] plehegar commented on #185
I can see the issue with referencing wording in a document that has no standing and can be changed anytime.  Short of copy/paste the text in the charter, I don't see a solution at the moment but will keep thinking. I can also imagine that some charters might tweak the text to accommodate different cases.

[2019-01-20 19:12] michaelchampion commented on #187
@frivoal wrote

I agree "available" needs to be clarified, but would not understand that to mean "shipping". I would expect to to mean "behind a flag" or "in a prototype/fork/polyfill" or "available to participants in an origin trial" or something.

This is a challenge that probably doesn't have a clean solution.  Clearly the "waterfall" model of getting consensus on a spec, take it to CR, and the

[2019-01-21 06:53] frivoal commented on #187
I agree, which is why I think charters should neither mandate full waterfall nor after-the-fact rubber stamping, and the best is to leave it to the WG and it's chairs, possibly guided by some judicious SHOULDs.

The current phrasing is too far on the "must rubber stamp after the fact" side for my taste.

[2019-01-21 14:56] chaals commented on #187
There is also a serious question about what a "major browser" is. It would seem more reasonable to be thinking about tools that are regarded as serious in a relevant field. For example, if the "SVG art world" uses the Wigwam browser heavily, and the meteorology world uses the Bridle browser, then a serious prototype of the feature in those probably makes sense.

The concern about being forced to a

[2019-01-25 21:13] wseltzer opened #192 "[charter template] Don't bury normative text"
@frivoal raised the issue that some charters end up with normative text buried in liaison sections, where reviewers or users of the charter might miss it. We should add guidance to charter drafters to give best practices for not doing that.

[2019-02-07 03:20] frivoal opened #193 "[Devices and Sensors] term defined in external, unstable document"
Like https://github.com/w3c/charter-drafts/issues/185, the [[DRAFT] Devices and Sensors Working Group Charter](https://www.w3.org/2019/02/DeviceAPICharter-ac.html) has a normative dependency on an external document that can be updated without going through the AC, and charters should have no such things.

The charter says that the group will follow a "test as you commit" approach, but that term is

[2019-02-07 03:23] frivoal commented on #185
That would be appropriate.

We could also have that text in something like the Process, and I think that'd be OK to refer to from charters, but as you say "I can also imagine that some charters might tweak the text to accommodate different cases", so I don't actually support hard-coding it in the process, and would prefer in-lining things in the charter.

[2019-02-08 21:16] plehegar commented on #185
I made a copy of the existing testing policy at
  https://www.w3.org/2019/02/testing-policy.html
It's signed by Ralph and me on behalf of the Director, making it clear that no change can't be made since it's been looked at by the AC (ie if a Group wants a different policy, they'll have to fork the document).

So, the proposal is to replace the link in the charter with a link to that new document.

[2019-02-08 21:16] plehegar commented on #193
See #185 for a proposal.

[2019-02-15 02:31] frivoal commented on #185
I think in-lining would be better, as this approach decreases the likeliness that this normative text will actually be reviewed by those reviewing the charter. I am also unsure what the benefit of having charters informatively depend on documents whose maintenance mode is undefined by the process.

With that said, the guarantees offered in the status section of that document are an improvement ove

[2019-02-15 14:04] koalie opened #194 "[charter template] Don't link to documents that can change arbitrarily"
Channeling Florian who recently brought up that issue on a few recent draft charters, exemplified by #185, I'd like section 1.2 of the charter template itself to be updated, so that

- either we point to the [snapshot version of the testing policy](https://www.w3.org/2019/02/testing-policy.html) instead of the hyperlink to https://github.com/w3c/testing-how-to/#test-as-you-commit (which can be cha

[2019-02-21 19:23] swickr commented on #194
It has been suggested that we both in-line the three paragraphs of  [testing policy](https://www.w3.org/2019/02/testing-policy.html) _and_ provide a link to allow readers to find more information.  If (as I'd then propose) the link is to  [testing policy](https://www.w3.org/2019/02/testing-policy.html) then that document serves also as a locus for FAQ and change proposals for future versions of a

[2019-03-03 16:23] AmeliaBR opened #196 "Contributing guidelines only refer to WebAssembly"
The [contributing guidelines for this repository](https://github.com/w3c/charter-drafts/blob/gh-pages/Contributing.md), added nearly two years ago in commit https://github.com/w3c/charter-drafts/commit/fe1cc61dd4a54d8ca6b8e9096cea773f9c77af96, are copied from the Web Assembly group and are very confusing for this repo!

Current text:

The contributing guidelines are linked from many places in the

[2019-03-07 09:33] xfq commented on #193
We decided to to link to the testing policy at https://www.w3.org/2019/02/testing-policy.html

(See commit https://github.com/w3c/dap-charter/commit/03613cec4d9ab8d028c584a788321245ace1c0ee)

[2019-03-07 18:12] AmeliaBR commented on #187
FYI, here's my initial draft for the SVG community group's charter:
https://github.com/w3c/charter-drafts/pull/197

In the community group scope, I've specifically forbid working on anything that already has _multiple_ shipping non-experimental implementations — at that point, we really want the standard to move over to the full royalty commitments in the WG.  However, I leave it entirely open for

[2019-03-11 12:46] #184 closed, assigned to nobody

[2019-03-11 13:00] svgeesus commented on #185
Fixed (link to new doc, plus blockquote from that doc with cite) for [SVG charter](https://www.w3.org/Graphics/SVG/svg-2019.html).

Charter template not updated (yet) as this is an opt-in polic at this stage. Though it could be added in a `fixme` section so those adopting it do so consistently.

[2019-03-11 13:00] #185 closed, assigned to plehegar

[2019-03-11 13:08] svgeesus commented on #186
The [external document linked to](https://www.w3.org/2019/02/testing-policy.html) has now changed and, in particular, allows a `needs tests` tag for a PR that needs tests. That seems to give the chairs and editors adequate flexibility (and is current practice in CSS WG (with a [slightly different tagname](https://github.com/w3c/csswg-drafts/labels/Needs%20Testcase%20%28WPT%29), `Needs Testcase (WP

[2019-03-11 13:08] #186 closed, assigned to nobody

[2019-03-11 13:16] svgeesus commented on #187
The same concern about shipping, and thus too late for changes, was raised during AC review. The charter text [now reads](https://www.w3.org/Graphics/SVG/svg-2019.html#scope):

[2019-03-11 13:31] svgeesus commented on #188
By the way, the frozen CSS 2.1 testsuite was written well before the javascript harness (which can test, say, 300 element/attribute or element./property combinations in 300 subtests of one overall test , rather than 300 separate tests) was written.

It would be great to have the luxury of another 10 years to fully and exhaustively test the entire SVG spec. However, we need an SVG2 base which SVG m

[2019-03-11 13:32] svgeesus commented on #188
See also the [`Needs tests`](https://github.com/w3c/svgwg/labels/Needs%20tests) tag.

[2019-03-12 00:10] frivoal commented on #188
I agree spending another decade or 2 on getting SVG to REC isn't useful. I am also on the record for being in favor of modularizing SVG in a way that is similar to CSS, and agree that this would enable faster revving up of the various parts. I remain highly skeptical that we can do what the charter says in the time it claims we'll do it, but oh well. As long as we do the work, I'm good.

What I th

[2019-03-12 01:18] frivoal commented on #186
(commenting in the closed issue, as I don't seem to have permission to reopen)

I don't consider this issue addressed:

* Just because we have documented a way (using labels) of marking which spec PRs don't have tests yet does not mean we have added the permission to merge such spec PRs, especially when the previous paragraph specifically defines lacking tests as being a reason not to merge PRs.

[2019-03-12 23:37] frivoal commented on #187
That's better.

I still think that's too strict, as it forbids us from starting work under the W3C process, even if all involved would want to, until at least one member has spent enough on implementation that they may now be reluctant to change.

As a "this is typically a good point to start", this wouldn't bother me. As "this is the earliest point at which you can possibly start", I don't like i

[2019-03-12 23:43] frivoal commented on #187
For what it's worth, I think the criteria in the SVG-CG is better.

If the SVG-WG, which includes implementers, has a consensus that something should graduate from incubation ('cause they all wanna work on it and think the spec is in a promissing shape), I don't understand what we gain from blocking it.

Given the available resources in the various browsers, the most likely implementer of anything

[2019-03-14 05:34] xfq commented on #193
Added a blockquote to be more consistent with the change in the [SVG charter](https://www.w3.org/Graphics/SVG/svg-2019.html): https://github.com/w3c/dap-charter/commit/d00d6dfe1d62da3b09e49f9cc698b71a3e0c37f5

[2019-03-14 05:34] xfq commented on #193
Closing.

[2019-03-14 05:34] #193 closed, assigned to xfq

[2019-03-14 08:01] frivoal commented on #193
Linking to a stable document is an improvement, but I don't consider the issue closed: this is a fix, but I don't consider it a very good one.
On the plus side:
* The normative text has been inlined
* The document linked to, which contains normative text, cannot be changed without AC review

On the negative side:
* Redundant normative text is bad practice. If the two are maintained and stay identi

[2019-04-04 18:31] AmeliaBR commented on #188
FYI, the [timeline in the final approved charter](https://www.w3.org/Graphics/SVG/svg-2019.html#timeline) was adjusted after this issue was posted.  (It will remain to be seen whether we can live up to the revised dates!)

Either way, the issue can probably be closed as the charter is no longer under discussion.

[2019-04-04 18:54] AmeliaBR opened #200 "[svgcg-2019] Defining incubation"
In the charter for the SVG community group — which is intended to “incubate” specs for the SVG WG, as required in the [WG's new charter](https://www.w3.org/Graphics/SVG/svg-2019.html) — I found my self struggling to define what that means. The following issue is marked in the [draft CG charter](https://w3c.github.io/charter-drafts/svgcg-2019.html#scope-of-work), but I wanted to post it here for wi

[2019-04-04 19:02] AmeliaBR opened #201 "[svgcg-2019] Dependencies & Liasons: explicit list or by reference to SVG WG?"
Comment on the SVG community group proposed charter, from @frivoal [on the mailing list]:

For reference, the current [CG charter “Dependencies and Liaisons” section](https://w3c.github.io/charter-drafts/svgcg-2019.html#liaisons) just defers to the [SVG WG charter](https://www.w3.org/Graphics/SVG/svg-2019.html#coordination):

(Note: I need to actually add a link to the SVG WG charter, now that it

[2019-04-05 03:59] #188 closed, assigned to nobody

[2019-04-05 04:00] frivoal commented on #201
An incubation focused CG is supposed to socialize it's proposals, so yes, I would expect it to approach WGs directly.

[2019-04-10 01:08] AmeliaBR commented on #200
On another project, I discovered that WHATWG does have an official [definition of `incubation`](https://whatwg.org/workstream-policy#incubation) in their Workstream Policy:

The suggestion that incubation is what happens _before_ a "preliminary commitment" is somewhat more restrictive than the division adopted in the [SVG WG charter](https://www.w3.org/Graphics/SVG/svg-2019.html#scope), which sugg

[2019-04-11 15:49] palemieux opened #202 "[charter template] Move Success Criteria section"
_Success criteria_ are not part of the _scope_ and should be moved to its own top-level section, or as a subsection of _Deliverables_.

The reason is that _scope_ defines the boundaries of the work of the group. i.e. what can the group work on or not, whereas _success criteria_ imposes requirements on the documents produced by the group, i.e. how the group conducts its work. These two items are or

[2019-04-11 19:13] SgiobairOg opened #204 "[svgcg-2019] Promoting Diversity"
Happy to see that W3C, and our working group by extension, include a Code of Conduct.

I propose that after the inclusion of the Code of Conduct we add language pledging to consider our work with an eye to include diverse input. Seeing as we have a 30:2 ratio of male to female and the majority of us appear to be Caucasian we would do well to strongly consider our potential for unconscious bias sha

[2019-04-12 06:29] BigBadaboom opened #205 "[svgcg-2019] Extend scope to cover some non-spec activites?"
I can think of some potential activities for the community group that are not currently listed, but could potentially be within the scope of an SVG CG and add value to the SVG community at large.  These are not specifically related to the SVG standard itself, but to the usage of it by third parties, especially authoring tools and  applications..

For example:

- Recommendations on the generation o

[2019-04-14 20:26] AmeliaBR commented on #205
Hi Paul,

I definitely agree that these are all good activities for the working group.  I think all of these items are in scope with the charter as written, but we could probably be more explicit; the charter template focuses on specifications because that is where the IP issues are, but that doesn't mean that needs to be the main focus.

Suggestions for integrating your points into the charter dr

[2019-04-14 20:29] BigBadaboom commented on #205
Hi Amelia

Yes I think so. LGTM

Thanks

[2019-04-14 20:32] AmeliaBR commented on #204
I definitely agree with your priorities.  I too have been looking at the CG participant list & wondering how to connect with more diverse groups of SVG users.

But at the same time, I don't want to include vague statements about what the group will do without describing what that actually looks like and assigning clear responsibility for meeting the objective.

What specifically do you think this

[2019-04-14 21:33] zed-vector commented on #200
I don't read it as being more restrictive. Work up to the a stage where it is sufficiently developed to attract the involvement of a browser developer IMHO does not preclude further involvement of the CG. Incubation continues until the egg hatches.

[2019-04-14 21:34] zed-vector commented on #204
I understand the sentiment, but I think this sort of language is of wider applicability and properly belongs in the Code of Conduct. Not least, for the avoidance of duplication. I imagine there is some means by which the CG might recommend such ideas.

[2019-04-15 00:23] AmeliaBR commented on #204
Ok, some ideas after pondering a little longer:

For diversity within the group, I agree with @zed-vector that we should keep the focus on the W3C Code of Conduct & not confuse the issue with any other statements.

But, you're right, @SgiobairOg, that there is a larger SVG community to consider & when specifying new technologies or recommending best practices, we need to consider the impacts on ma

[2019-04-15 21:06] #200 closed, assigned to nobody

[2019-04-15 21:06] #201 closed, assigned to nobody

[2019-04-15 21:06] #204 closed, assigned to nobody

[2019-04-15 21:06] #205 closed, assigned to nobody

[2019-06-07 18:38] #202 closed, assigned to nobody

[2019-06-07 20:15] #194 closed, assigned to nobody

[2019-06-07 20:27] #196 closed, assigned to nobody

[2019-06-07 20:45] svgeesus commented on #175
Thanks for the PR, Yves!

[2019-06-07 20:45] #175 closed, assigned to nobody

[2019-06-10 18:10] svgeesus commented on #140
[3.1 Individual Participation Criteria](https://www.w3.org/2019/Process-20190301/#ParticipationCriteria):

[2019-06-10 18:15] svgeesus commented on #140
There seems to be consensus that:

- the requirement to follow the CoC is in the Process
- duplicating the text from the Process document is harmful
- adding a link is beneficial

So I'm going to make a PR to the template to add such a link. And as @nigelmegitt suggested, I will make it clear that this is not an optional or customizable requirement.

[2019-06-11 12:57] svgeesus commented on #153
This PR was closed unmerged, with the [comment that the changes should really apply to the template](https://github.com/w3c/charter-drafts/pull/149#issuecomment-430574749). Re-tagging accordingly. @samuelweiler could you make a PR on the template to resolve this?

[2019-06-11 13:01] r12a opened #213 "Recommend self-reviews at FPWD and nomination of HR champions"
It would be useful to add text to the charter to encourage WGs to self-review their specs for horizontal issues (internationalisation, accessibility, privacy, security), and particularly to do so at the time they publish a FPWD.

It would also be useful to suggest that they nominate a HR champion, who doesn't need to be an expert in HR issues, but would have the responsibility to liaise with the v

[2019-06-11 13:02] svgeesus commented on #169
When writing charters, I have assumed that the sentence starting "For specifications of technologies" is guidance; so I decide if the charter has any user-facing component and if so, delete it but include the following sentence "Each specification should".

I think the assumption was that anything which does not impact content does not need an accessibility section. For example a more efficient (b

[2019-06-11 13:24] wseltzer commented on #128
Proposal: close as-is. It's useful for groups to have teleconfs, or make a considered case if they want a different workmode.

[2019-06-11 13:24] #128 closed, assigned to nobody

[2019-06-11 13:41] #140 closed, assigned to nobody

[2019-06-11 13:47] svgeesus commented on #135
@wseltzer perhaps your issue description was a bit terse :)

https://github.com/w3c/charter-drafts/pull/134 has been merged, so this issue can be closed, yes?

[2019-06-25 20:21] svgeesus commented on #144
@LJWatson I notice this issue is still open. The [current template](https://w3c.github.io/charter-drafts/charter-template.html#coordination) says

OK to close the issue?

It seems to have been resolved some time ago, but this issue was not updated to notify you of the fact.

[2019-06-25 21:18] LJWatson commented on #144
That text is in the Co-ordination part of the template, but the text I was referring to was in the Success Criteria part.

The text in the Success criteria part of the template has been updated since I opened the issue, but it's a) quite lengthy, and b) puts privacy and security on a different footing to accessibility.

It'd be good to use the text we have in the [WebApps charter](https://www.w3.o

[2019-07-02 18:35] svgeesus commented on #141
I guess the term "feature" comes from the [W3C Process Document, section 6.2.4 Implementation Experience ](https://www.w3.org/2019/Process-20190301/#implementation-experience):

(there are 17 occurrences of the word `feature` in the current Process Doc.)

I agree with @marcoscaceres that it makes more sense to talk of implementations of each conformance requirement; this is what individual WPT tes

[2019-07-02 18:44] svgeesus commented on #141
In addition, in CR, "features at risk" does not apply at the granularity of an individual conformance statement but instead a group of them (a whole attribute, attribute value, property, property value, API call etc) which thus constitutes a feature (which can be removed in it's entirety if there is insufficient implementation).

But `feature` is poorly defined, I agree.

[2019-07-08 23:43] samuelweiler commented on #213
I like the suggestion to encourage self-review at FPWD.  I'm less fond of the campion idea.  Let WG chairs manage the delegation (or not) of that work themselves.

[2019-07-08 23:48] samuelweiler commented on #187
It looks like the SVG charter was approved without adopting this proposed change.  :-(  Given that, should this issue be closed?

[2019-07-08 23:50] samuelweiler opened #215 "[svg-2019] pointer to approved charter"
With the charter approved, the draft should now point at the approved charter: https://www.w3.org/Graphics/SVG/svg-2019.html

[2019-07-08 23:54] samuelweiler commented on #153
This change was made to the template months ago: https://github.com/w3c/charter-drafts/pull/154

[2019-07-08 23:54] #153 closed, assigned to nobody

[2019-07-08 23:57] #135 closed, assigned to svgeesus

[2019-07-09 10:59] r12a commented on #213
See also https://github.com/w3c/w3process/issues/130

[2019-07-09 13:50] #192 closed, assigned to nobody

[2019-07-09 17:46] svgeesus commented on #144
The part I was quoting is also in [success criteria](https://github.com/w3c/charter-drafts/blob/gh-pages/charter-template.html#L223) and there is an [open pull request](https://github.com/w3c/charter-drafts/pull/216#commitcomment-34236308) which would unify the two parts (privacy/security, and accessibility)

[2019-07-15 21:11] LJWatson commented on #144
Perhaps I'm not reading the PR properly (always a possibility with a screen reader), but it still seems to have privacy and security in one paragraph (changed from SHOULD to MUST), and two paragraphs later an optional paragraph on accessibility (SHOULD still not MUST)?

Could we just make it simpler for all concerned, with the language from the WebApps charter?

[2019-07-30 12:47] frivoal opened #217 "[CSSWG] module splitting / merging and incubation provision"
"Section 2: Deliverables" of the [previous csswg charter](https://www.w3.org/Style/2016/css-2016) said this:

This is missing in the [proposed 2019 charter](https://w3c.github.io/charter-drafts/css-2019.html). Please restore it.

[2019-07-30 12:51] frivoal opened #218 "[csswg] Maintenance of existing CSS RECs should be in scope"
The last sentence of "Section 2.1: Normative Specifications" of the [previous csswg charter](https://www.w3.org/Style/2016/css-2016) said this:

This is missing in the [proposed 2019 charter](https://w3c.github.io/charter-drafts/css-2019.html). Please restore it.

[2019-07-30 13:12] frivoal opened #219 "mandatory delays for horizontal Review"
"Section 3: Coordination" of the [previous csswg charter](https://www.w3.org/Style/2016/css-2016) said this:

The [proposed 2019 charter](https://w3c.github.io/charter-drafts/css-2019.html) changes this to:

I support saying that the review must be done **before** CR, rather than during CR, and agree that horizontal review groups should be given enough time to do their job properly. However, I thi

[2019-07-30 13:18] frivoal opened #220 "[csswg] mailing list or github or both?"
In section 6 "Communication ", the [proposed 2019 charter](https://w3c.github.io/charter-drafts/css-2019.html) says this:

The [previous csswg charter](https://www.w3.org/Style/2016/css-2016) said this:

I think that was the right answer to the alternative raised, and support keeping the same sentence unchanged.

[2019-07-30 13:28] astearns commented on #219
I worry that loosening the restriction there would encourage people to send out invitations for review too late for feedback before CR (we sent it out the week before, didn't hear back, so we can address the feedback in an updated CR).

What about this to satisfy your example?

[2019-07-30 13:38] frivoal opened #221 "[csswg] Decision policy"
"Section 6: Decision Policy" of the [previous csswg charter](https://www.w3.org/Style/2016/css-2016) said this:

The [proposed 2019 charter](https://w3c.github.io/charter-drafts/css-2019.html) changes this to:

I strongly disagree with this change. A mandatory CfC will significantly slow down the work of the Working Group by adding an extra 10 days to any decision. More than just adding 10 days, i

[2019-07-30 13:50] frivoal opened #222 "[csswg] Licensing"
The [previous csswg charter](https://www.w3.org/Style/2016/css-2016) defined that the Group should use the W3C Software and Document license for all its deliverables. [The new one](https://w3c.github.io/charter-drafts/css-2019.html) asks this as an open question, suggesting we might want to use the W3C Document license.

I support continuing to use the W3C Software and Document license over the W3

[2019-07-30 13:54] frivoal opened #223 "[csswg] editorial tweak to avoid ambiguity / contradiction."
Both he [previous csswg charter](https://www.w3.org/Style/2016/css-2016) and [the new one](https://w3c.github.io/charter-drafts/css-2019.html) say that:

However in success criteria, the old one said (emphasis mine):

The new one says:

Given that we have a single specification with multiple modules, we should speak of modules, not specifications, in that sentence.

[2019-07-30 14:49] xfq commented on #223
Fixed: https://w3c.github.io/charter-drafts/css-2019.html#success-criteria

[2019-07-30 14:49] #223 closed, assigned to nobody

[2019-07-30 14:51] xfq commented on #222
Using the Software and Document license, because that's what we're using for most groups now. Fixed in https://w3c.github.io/charter-drafts/css-2019.html#licensing

[2019-07-30 14:51] #222 closed, assigned to nobody

[2019-07-30 14:58] xfq commented on #221
I agree with @frivoal here. I reverted it in https://github.com/w3c/charter-drafts/commit/0012af10234d1e695c59908af8853eda44ee68fa

I'll leave the issue open for a while and close it if there's no objection.

[2019-07-30 14:59] xfq commented on #220
Fixed: https://w3c.github.io/charter-drafts/css-2019.html#communication

[2019-07-30 14:59] #220 closed, assigned to nobody

[2019-07-30 15:05] xfq commented on #218
Fixed in https://github.com/w3c/charter-drafts/commit/d938e842ca9ceee7e1a6504c07995c7d66755b70

[2019-07-30 15:05] #218 closed, assigned to nobody

[2019-07-30 15:08] xfq commented on #217
Fixed: https://w3c.github.io/charter-drafts/css-2019.html#deliverables

[2019-07-30 15:08] #217 closed, assigned to nobody

[2019-07-30 15:37] frivoal opened #224 "[csswg] Change in the testing policy"
The testing policy described in the [proposed 2019 csswg charter](https://w3c.github.io/charter-drafts/css-2019.html) is significantly different from the one in the [previous csswg charter](https://www.w3.org/Style/2016/css-2016).

I am not necessarily claiming that the old one was perfect, but I see issues with the new one, some of which I consider serious.

Before getting into details, I'd like

[2019-07-30 15:51] frivoal commented on #219
I agree it's an improvement over the original, which deals with the example I gave.

However, I'd rather leave this at the discretion of the chairs to appraise each situation individually, rather than hard-code the cases when exceptions can be granted. "is recommended" (same as RFC2119 SHOULD) in my proposed wording still sets the expectation, but gives the WG/chairs flexibility in granting except

[2019-08-02 17:16] astearns opened #225 "[csswg] deliverables should link to current work page"
The deliverables section has a template link to https://www.w3.org/wiki/[groupname]/PubStatus that needs to be updated. It should probably link to https://www.w3.org/Style/CSS/current-work.en.html

[2019-08-05 06:55] xfq commented on #225
Thanks. Fixed in https://github.com/w3c/charter-drafts/commit/2b067e361c83c1d8c93849661aa5fa3690a794bf

[2019-08-05 06:55] #225 closed, assigned to nobody

[2019-08-06 03:06] xfq commented on #221
Closing.

[2019-08-06 03:06] #221 closed, assigned to nobody

[2019-08-13 07:11] xfq commented on #224
Fixed: https://github.com/w3c/charter-drafts/commit/d2b72c9d50bb7acfb5aac25b6fb1fa56991f3879

Thank you!

[2019-08-13 07:11] #224 closed, assigned to nobody

[2019-08-13 11:28] r12a commented on #219
This advice isn't saying that you should complete the spec, then wait for 3 months for wide review.  That would be the equivalent of reintroducing the Last Call period.

What it's saying is that, if you have a date for transition to CR ensure that you *ask for* horizontal review at least x amount of time before that date.

If you've done self-reviews, checked things prior to FPWD, and checked with

[2019-08-14 08:10] frivoal commented on #219
I agree with the intent, I am a little skeptical of tying the chairs hands and preventing them from granting well reasoned exceptions.

[2019-08-14 13:10] r12a commented on #219
So how about something like the following, which tries to phrase it in a way that indicates that this is not an unmoveable 3-month window:

[2019-08-14 21:36] frivoal opened #227 "[csswg] WICG liaison"
The liaison section says this:

Suggest to replace with:

* The CSS WG as a whole isn't incubating speculative new work in the WICG, although individuals who participate in the CSSWG might do so.
* Clarifies expectation of coordination wrt reviews; historically CSSWG review has in some cases been requested too late in the process (e.g. lack of fragmentation support in original shipped implementati

[2019-08-14 21:53] fantasai commented on #219
@r12a Your parenthetical contradicts, rather than adjusts, the phrase “at least 3 months before”, so that's not going to work.

Also, the current wording could be satisfied by just having an FPWD review request, because that's usually at least 3 months before CR. :) So altogether, it's not very good wording.

I would suggest something like

[2019-08-19 17:59] swickr opened #228 "[csswg] Expected completion dates"
Could we get more "Expected completion" dates (or perhaps "Estimated") in the 2019 charter?

[2019-08-19 18:03] astearns commented on #228
The dates we’ve added are the ones that we think have a chance of completion within the charter period. Anything past that is even more hand wavy guesswork. Do you think there’s a need to add these guesses?

[2019-08-19 18:35] swickr commented on #228
Thanks Alan.  A statement to that effect (e.g. "specs the WG hopes to complete within this charter period have expected completion dates indicated") would help set expectations for others who might want to plan their review resources.

[2019-08-19 18:56] swickr opened #229 "[csswg] typos/extraneous text"
3. Success Criteria

4.1 W3C Groups

[2019-08-19 19:06] swickr opened #230 "[csswg] Current work not mentioned in 2019 proposed charter"
The following are listed on [CSS current work](https://www.w3.org/Style/CSS/current-work.en.html) but appear to be omitted from the proposed charter.:
[CSS Syntax Module Level 3](https://www.w3.org/TR/css-syntax-3/)
[CSS Scrollbars Module Level 1](https://www.w3.org/TR/css-scrollbars-1/)
[CSS Overflow Module Level 4](https://www.w3.org/TR/css-overflow-4/)
[CSS Grid Layout Module Level 2](https://w

[2019-08-19 19:21] #229 closed, assigned to nobody

[2019-08-19 20:02] #230 closed, assigned to nobody

[2019-08-19 20:06] plehegar commented on #227
addressed in #232

[2019-08-19 20:15] plehegar commented on #219
I liked the latest proposed change. See #233 .

[2019-08-20 09:34] r12a commented on #219
I don't like the following aspects of Fantasai's version:

1. the text implies that the horizontal review groups (which should be plural) need to be consulted each time a spec is approaching CR to determine the length of time needed for this review period.  That is not something we, and i suspect others, want to do.  And anyway, the HR group may not be able to determine how much time is needed bef

[2019-08-20 10:48] #228 closed, assigned to nobody

[2019-08-20 10:49] #227 closed, assigned to nobody

[2019-08-20 14:48] r12a commented on #219
We just discussed this thread in the W3C Strategy call, and the other folks involved in HR groups on that call also shared the same concern to move away from the old Quality Control model (ie. develop then inspect) to a Quality Assurance model (ie. work with the WG to prevent issues arising). They also agreed that the spec doesn't need to be essentially the same as that which goes to CR when the 3

[2019-08-20 15:05] plehegar commented on #219
Alright, my current thinking is to stick to the current wording in the proposed charter, without closing this issue. If new wording emerges before the end of the AC review, we can always update the proposed charter imho.

[2019-08-20 22:57] frivoal commented on #219
It does not. It says that they should be consulted if we want to make the period shorter than 3 months. I imagine the way this would typically go is that a WG asks them for review, and if they come back with a completed review after 2 months, they'd also indicate that the review is done and there's no need to wait for one more.

So, if we call for review on the document, get the review done, then

[2019-08-21 13:41] r12a commented on #219
An easy way to fix that is to remove 'at least' from 'at least 3 months' , and it could be made clearer by saying 3 months before the expected CR transition date – something i was inclined to suggest anyway, actually.  That would probably simply things significantly, help change the perception of what is going on here, and allow the invitation to be triggered automatically by tools.

Bear in mind

[2019-08-21 16:10] fantasai commented on #219
@r12a CSSWG doesn't plan a CR transition date until it has a spec that is "substantially the same" as the one it takes to CR, so I don't understand how your suggestion is any different from mine except insofar that it requires the request for review to be issued on a very particular date.

[2019-08-21 17:36] r12a commented on #219
If CSS is unable/unwilling to plan 3 months in advance, then yes i suppose this wording will not make much difference for CSS specs, and you'll need to accept that your schedules are going to be extended to allow for horizontal review, and perhaps in some cases you'll have more rework to do than if you had involved horizontal groups before finalising the spec.  (That said, i18n at least does tend

[2019-08-22 08:38] fantasai commented on #219
@r12a

Yes, it does. It means that if we decide a spec is ready for CR, regardless of whether it's received HR or not, if we didn't happen to send a request for review within the last 2.5 months or so, we have to send another request for review and schedule a CR date exactly 3 months ahead of that request.

We don't have a schedule, therefore it can't be extended.

Perhaps we should have sent requ

[2019-08-22 14:48] frivoal commented on #219
@plh To be clear: despite the label you placed on this issue, I don't count this as an enhancement. I want this issue addressed before the charter is set for AC review.

Ideally, we will find wording that is agreeable to @r12a, @fantasai, and myself, (and anyone else interested in the matter). If we don't, and until we do, the current wording should be deleted from the charter. It does not accompl

[2019-08-22 15:15] frivoal commented on #219
@r12a

I would very strongly (i.e. formally) object to that. This would mean delaying all CR transitions by 3 months, which is not acceptable:
* If we know how to fix all issues, we just do so, and so we are ready for CR. Not in 2 or 7 months. Now.
* If we don't know how to fix all issues, then we don't know.
The only point when we know CR is going to happen is when we're ready for it. We may hope

[2019-08-27 06:38] frivoal commented on #219
I note that despite lack of consensus on the current wording, the charter has been proposed to AC voting. None of the participants in the discussion about it support the current wording, but it is included in the proposed charter. I suppose I need to file a formal objection now :(

[2019-08-27 15:56] r12a commented on #219
I've been trying to find some wording that will go in the template rather than just in the CSS charter. But i don't want to block the CSS charter, so perhaps i should return to the generic version later.

That's not what my text says; see the 2nd sentence.

I suspect we're trying to say the same thing, but interpreting each other's text differently.

Here is Fantasai's original suggestion:

1. 'un

[2019-08-28 03:09] frivoal commented on #219
Me too. I am not under the impression that we have conflicting goals. We just need to find text that we all think actually achieves these goals without unpleasant side effects.

That's not what your text says, but it seems likely to be a consequence of it, despite the second sentence:
* There is generally no planned CR transition date and no ability to pick a date until the document is actually re

[2019-08-28 14:04] therealglazou commented on #219
Copy of a message I sent earlier today to w3c-css-wg:

[2019-08-28 15:19] r12a commented on #213
Closing this in favour of https://github.com/w3c/w3process/issues/130

[2019-08-28 15:19] #213 closed, assigned to nobody

[2019-08-28 16:24] brewerj commented on #219
Several thoughts:

1. This thread seems mis-named. My understanding of the horizontal review teams' intention is to get _clear advance notice_ so that we can do timely reviews, not to delay anybody's spec by 3 months. The issue title, IMO, is the opposite our of intention with regard to improving the HR process. How about re-titling this to "advance notice for horizontal reviews."
2. In exploring

[2019-08-29 03:06] frivoal commented on #219
Thanks for the feedback @brewerj

By "mandatory delays for horizontal Review", I meant "the charter imposes mandatory delays for horizontal Review and that's a problem", not "we should impose mandatory delays for horizontal Review". I'm ok with trying to frame the discussion in a more positive way, but I don't want to lose track of the fact that, despite good intentions, the wording currently in t

[2019-08-29 20:32] samuelweiler commented on #219
Hard deadlines don't belong in the charter.  With the caveat that I think most charters are too verbose and we should be putting stuff like this in the Process, not in charters: I want the charter to (at most) encourage the behavior we want to see (namely, collaboration at useful times).   I've created a PR with some suggested text.  I also want to see failure to get review be a blocking issue, bu

[2019-08-30 04:37] frivoal commented on #219
I fully support the PR proposed by @samuelweiler , and continuing the rest of this discussion in the ProcessCG to see what can/should be added to the Process. Speaking of the process, this may deserve its own issue, but a good place to start is probably by reviewing and contributing the existing https://github.com/w3c/w3process/issues/130, which is either the same topic, or at least overlaps a lot

[2019-09-09 12:22] plehegar commented on #219
@r12a 12a @michael-n-cooper , your input would be appreciated

[2019-09-09 15:09] michael-n-cooper commented on #219
I think Sam's proposal strikes a good balance. I agree with the need for sufficient timeline to conduct reviews, need to review at key stages (more clearly spelled out in the proposal), and the need for review groups to know about changes to avoid re-reviewing from scratch each time. I also understand that it's a bit much to make mandatory timelines related to all this, and that the guidance shoul

[2019-09-10 01:47] r12a commented on #219
Fine by me.

[2019-09-16 02:39] plehegar commented on #219
This issue has been resolved. See latest wording
[[
For all specifications, this Working Group will seek horizontal review for accessibility, internationalization, performance, privacy, and security with the relevant Working and Interest Groups, and with the TAG. Invitation for review must be issued during each major standards-track document transition, including FPWD. The Working Group is encoura

[2019-09-16 10:16] frivoal opened #235 "Improve the language on horizontal reviews in the template"
The language about horizontal reviews that was proposed for the CSS WG charter came from the template. After much discussion in https://github.com/w3c/charter-drafts/issues/219, we agreed on a better wording.

This should be applied to the template as well, as the problems discuss in the CSSWG charter, and the solution agreed there, are not specific to CSS.

[2019-09-17 07:02] nigelmegitt commented on #219
This still has the recommendation to leave 3 months before every CR transition, which seems unhelpful. Address this as:

s/at least 3 months before CR/at least 3 months before first entering CR

[2019-09-17 07:02] nigelmegitt commented on #219
(I don't seem to have rights on this repo to reopen issues)

[2019-11-26 03:33] xfq commented on #235
Related: https://github.com/w3c/charter-drafts/pull/240

[2019-11-26 09:33] #148 closed, assigned to nobody

[2019-11-26 09:34] plehegar commented on #148
(this charter was approved some time ago)

[2019-11-26 09:34] plehegar commented on #170
(this charter was approved some time ago)

[2019-11-26 09:34] #170 closed, assigned to marcoscaceres

[2019-11-26 09:36] plehegar commented on #219
the charter was approved in early October. See also #240

[2019-11-26 09:37] plehegar commented on #178
this charter was approved some time ago

[2019-11-26 09:37] #178 closed, assigned to nobody

[2019-11-26 09:37] plehegar commented on #187
this charter was approved some time ago

[2019-11-26 09:37] #187 closed, assigned to nobody

[2019-11-26 14:10] svgeesus commented on #133
@wseltzer does your PR fully address this (I think so) and thus, can this issue be closed?

[2019-11-26 14:13] svgeesus commented on #131
This issue was fully addressed by Sam's PR, so should be closed.

[2019-11-26 14:21] svgeesus commented on #132
A cfc need not rely on a mailing list. For example, a GH issue could be used. So if we add language encouraging cfc, we should not specify a particular mechanism (and certainly not encourage mailing lists).

@tantek would that satisfy your concern?

[2019-11-26 14:29] svgeesus commented on #146
related:

- [CSSWG, WICG liaison](https://github.com/w3c/charter-drafts/issues/227)
- [CSSWG, module splitting / merging and incubation provision](https://github.com/w3c/charter-drafts/issues/217)
- [svgcg-2019, Defining incubation](https://github.com/w3c/charter-drafts/issues/200)
- [WebApps charter: Implementor interest](https://github.com/w3c/charter-drafts/issues/157)

[2019-11-26 18:22] #131 closed, assigned to nobody

[2019-11-26 18:23] #133 closed, assigned to nobody

[2019-11-29 21:30] David-Chadwick opened #245 "[Verifiable Credentials 2019] Laison with ISO SC17 WG10"
Would it be possible to add to section 4.2 External Organisations the following text

ISO SC17 WG10
Ensure that the mobile driving licenses being modeled and expressed by the ISO SC17 WG10  community are compatible with the Verifiable Credentials WG.

[2019-12-03 17:33] #245 closed, assigned to nobody

[2019-12-04 21:49] jwatt commented on #215
Landed in https://github.com/w3c/svgwg/commit/fd3db28c45786bc427f81cc4f17c618ea6dbf264

[2019-12-10 08:42] #215 closed, assigned to nobody

[2020-01-09 12:43] chrisn opened #253 "[audio-2019] Suggested changes"
Doing my AC review of the Audio WG 2019 charter, I have a couple of changes to suggest:

* I'd like to see more detail on the proposed features planned for Web Audio API 2.0, the [v.Next issues list](https://github.com/WebAudio/web-audio-api/milestone/2) linked from the charter shows no open issues

* The Web and TV Interest Group was renamed to Media & Entertainment Interest Group in 2017. The gr

[2020-01-09 13:00] mdjp commented on #253
V2 issues are in the V2 repo here https://github.com/WebAudio/web-audio-api-v2/projects/1

[2020-01-09 23:28] dbaron opened #254 "broken links in audio WG charter"
While reviewing the [Audio WG charter submitted to the AC](https://www.w3.org/2011/audio/charter/audio-2019-ac.html) which is [maintained in this repository](https://github.com/w3c/charter-drafts/commits/gh-pages/audio-2019.html), I noticed a few broken links:

* in the "Charter History" section, the "Rechartered" that was 22 December 2016 links to the current document rather than to [the previous

[2020-02-12 16:06] #253 closed, assigned to nobody

[2020-02-12 16:06] #254 closed, assigned to svgeesus

[2020-02-12 16:09] svgeesus commented on #254
Thanks for the report @dbaron now fixed

[2020-02-12 16:09] svgeesus commented on #253
Thanks for the report @chrisn now fixed

[2020-02-12 16:15] chrisn commented on #253
Thanks @svgeesus :-)

[2020-04-24 01:51] xfq opened #258 "Typo in Testing Policy"
In https://www.w3.org/2019/02/testing-policy.html :

"web-platforms-tests" should be "web-platform-tests".

[2020-05-12 11:50] samuelweiler opened #259 "Chairs (etc.) in charters become stale"
Listing chairs in charters creates redundant info that must be manually maintained.  Can we remove that info from the charter (and instead refer to a DB-backed source of truth)?

I'm thinking of something like the data shown in:
https://www.w3.org/Member/Groups

[2020-05-12 12:06] samuelweiler opened #260 "[template] Add a DB link for current charter status"
I often see that the validity dates in charters get out of date.  Unlike [naming chairs](https://github.com/w3c/charter-drafts/issues/259), I don't think we can remove dates from charters, but can we add a link to the current status, e.g. as shown in https://www.w3.org/Member/Groups

[2020-05-26 13:32] ianbjacobs opened #262 "[template] Add to charter template hook for CG relationship (split of work, etc.)"
It has been pointed out that there is an emerging pattern of a Working Group having relationship with an ongoing Community Group. The charter template should provide a hook for the authors to set expectations about the relationship.

(This issue comes from a Strategy Team discussion.)

[2020-05-28 02:51] xfq opened #263 "Clarification for Success Criteria"
https://w3c.github.io/charter-drafts/charter-template.html#success-criteria

It might be useful to mention that it's only needed for *normative* specs, like:

Or has it already been implied (because it's impossible to advance a Note-track document to Proposed Recommendation)?

[2020-06-02 13:44] svgeesus commented on #132
ping @tantek

[2020-06-02 13:51] svgeesus commented on #260
@samuelweiler do you mean the charter approval dates on that page, or something else?

[2020-06-02 13:52] svgeesus commented on #263
I think it is already implied, but no harm in the extra clarification

[2020-06-02 13:59] samuelweiler commented on #260
https://www.w3.org/Member/Groups has four things: charter start dates, charter end dates, charter extended end dates, and a single summary date range of overall beginning and end.  The first three have links to the relevant doc and/or announcement.  It provides a way to see if a group is in charter.

The failure mode I have seen is that a charter gets extended but the charter does not get updated,

[2020-06-03 12:54] wseltzer commented on #258
Fixed in the readme from which the text came

[2020-06-05 14:55] plehegar opened #264 "Group intents in switching to Process 2020"
When would your Group like to switch to Process 2020?

### ASAP

Service Workers Working Group
Browser Testing and Tools Working Group
Cascading Style Sheets (CSS) Working Group

### At the first opportunity:

Web Performance Working Group
Web Real-Time Communications Working Group
Web Application Security Working Group
Web Applications Working Group
SVG Working Group
Spatial Data on the Web Worki

[2020-06-08 18:24] wseltzer commented on #262
As an example, [a current draft](https://www.w3.org/2020/06/gpuweb-charter.html) says in the Scope section: "Note that the majority of the input to this Working Group will come directly from the GPU for the Web Community Group. No major development will happen in the Working Group itself. Instead, the Community Group will be driving the technical work." which I don't think is quite right.

Think a

[2020-06-08 18:42] wseltzer commented on #262
Other examples:

[Immersive Web WG](https://www.w3.org/2020/05/immersive-Web-wg-charter.html)  In addition, the Immersive Web Working Group plans to partner closely with the IWCG to incubate new features - in particular, incubation of features that are out of current scope for the working group will happen in the Community Group, and then be followed by future WG rechartering to include them in sc

[2020-06-09 05:04] svgeesus commented on #260
This proposal seems to contradict the existing [policy on charter extension](https://www.w3.org/Guide/process/charter.html#extension) which requires the Team contact updating, in place:

1. the end date
2. the charter history section
3. Any update to the Chair(s), Staff Contact(s), etc.

[2020-06-09 05:08] svgeesus commented on #146
This seems to depend on [add an Incubation explainer](https://github.com/w3c/strategy/issues/184). The charter template can then point to that, which solves part of the issue.

The remaining part (where incubation happens, for a given WG) also relates to [Add to charter template hook for CG relationship (split of work, etc.)](https://github.com/w3c/charter-drafts/issues/262)

[2020-06-09 05:11] svgeesus commented on #132
The current charter template has changed meantime and now says, under [Decision policy](https://w3c.github.io/charter-drafts/charter-template.html#decisions) (my bold):

With the exception of the remaining _on the mailing list_, which I feel can be dropped, this seems to solve this issue

[2020-06-09 05:15] svgeesus commented on #147
I like the idea but would like to see wider input from chairs and team contacts.

[2020-06-09 05:20] svgeesus commented on #219
re-opening with edited title and tagged "template"

[2020-06-09 05:22] svgeesus commented on #235
Related: https://github.com/w3c/charter-drafts/issues/144

[2020-06-09 06:50] xfq commented on #258
https://www.w3.org/2019/02/testing-policy.html doesn't seem to be fixed. Some charters quote the text in that page directly, so I suggest that we fix that page as well.

It isn't a substantive change (so we don't need an AC review), so I can fix it if needed.

[2020-06-09 09:07] nigelmegitt commented on #147
@svgeesus happy to have more data. So far we have:

Chairs: +2 -0
Team contacts: +1 -0

(I'm taking @chaals 's thumbs-up reaction as a +1)

[2020-06-09 10:29] samuelweiler commented on #264
What is the "issue" here?

[2020-06-09 10:31] samuelweiler commented on #259
Lots of discussion about whether this is a problem and how to solve it in https://github.com/w3c/charter-drafts/pull/261

Renaming this issue to capture the problem rather than the proposed solution.

[2020-06-09 10:49] samuelweiler commented on #260
Thanks for flagging that the guide will need to change, also.  Given the responses I've gotten to #259 and #261, I suspect this idea isn't going anywhere, unfortunately.

(And, at this moment, I see fewer mismatches of these dates between the charters and the DB than I saw for chairs and for team contacts.)

[2020-06-09 10:57] chaals commented on #147
My thumbs up is a +1.

This is the process we used for HTML 5.1, 5.2 and 5.3 until it was abandoned by W3C, producing actual Recommendations. Effectively at your deadline you make a version of your spec that only includes stuff you want to put in this CR (because it's ready), on a branch. From there, it's pretty straightforward - that branch goes through the rest of the Process to Rec, removing st

[2020-06-09 15:36] dontcallmedom commented on #259
I think operationally, the way to ensure that charters be updated in place is to ask the Comm Team to refrain from sending the announcement until the charter has been updated.

[2020-06-11 04:30] svgeesus commented on #258
testing-policy.html is now fixed

[2020-06-11 04:30] #258 closed, assigned to nobody

[2020-06-11 04:44] svgeesus commented on #219
I checked, and the edits have all been made to the template.

[2020-06-11 04:44] #219 closed, assigned to svgeesus

[2020-06-11 04:45] svgeesus commented on #235
The language applied to CSS has also been applied to the template, including the addition `s/before entering/before first entering`

[2020-06-11 04:45] #235 closed, assigned to svgeesus

[2020-06-11 11:59] xfq commented on #258
Thanks @wseltzer and @svgeesus!

[2020-06-11 13:39] plehegar commented on #264
this is simply documenting the current intent of the Working Group and providing a place to discuss it.

[2020-06-11 20:59] wseltzer commented on #262
[WebPerf](https://www.w3.org/2018/09/webperf/) says
Web Platform Incubator Community Group
This group provides a lightweight venue for proposing, incubating and discussing new web platform features. The Web Performance Working group will incubate and review new proposals that are within scope of our charter within the WICG. Once such WICG-incubated proposal is implemented and available in at least

[2020-06-16 13:07] svgeesus commented on #169
I think this has been fixed meanwhile: the current template says "for all specifications" rather than "each specification". Here is the full paragraph:

[2020-06-16 13:57] #132 closed, assigned to svgeesus

[2020-06-16 13:57] #141 closed, assigned to svgeesus

[2020-06-16 14:04] #263 closed, assigned to nobody

[2020-06-18 15:40] wseltzer commented on #259
Closing with reference to the operational fixes, rather than changes to the charter template.

[2020-06-18 15:40] #259 closed, assigned to nobody

[2020-06-26 01:47] fantasai commented on #264
I don't see a reason why we shouldn't be adopting P2020 across all WGs, just as we adopted P2019. P2020 is backwards-compatible with P2019. But the Patent Policy does need to be an explicit switch.

[2020-07-02 15:52] plehegar commented on #264
Plan is to adopt P2020 for all Groups as it becomes effective. For PP2020, it will be gradual.

[2020-07-07 14:38] samuelweiler commented on #259
When I checked four weeks ago, I found:

- 4 WGs or IGs where the chair(s) in the charter did not match the DB
- 3 team contact mismatches
- 2 charter date mismatches (plus one typo)

I pointed all out to the responsible team contacts, CC'ing w3t-comm on some of them.  Some were fixed.  Meanwhile, new errors appeared.  Now, four weeks later, we have:

- 5 chair mismatches (2 old, 3 new)
- 2 team c

[2020-07-07 14:47] dontcallmedom commented on #259
@samuelweiler is there any evidence that the operational fix was put in place (i.e. that it was asked from the Comm Team and the comm Team couldn't or wouldn't?)

[2020-07-07 18:27] samuelweiler commented on #259
@dontcallmedom I had thought so but, as I look back, perhaps not.  @koalie ?

[2020-07-09 14:50] koalie commented on #259
Comm was cc'ed on some of the issues you had spotted, not all as far as you wrote.

[2020-07-09 14:51] koalie commented on #259
Proposal: One operational change we could adopt is the generalization of charters edits by comm in the wake of comm sending the various related announcements. Thoughts?

[2020-07-09 14:53] samuelweiler commented on #259
Correct.  I think Dom was asking about the operational fixes - to reduce new errors.

[2020-07-09 14:55] koalie commented on #259
I'm sorry, I can't recall at the moment any proposed generic operational fixes.

[2020-07-09 14:56] samuelweiler commented on #259
Dom [proposed](https://github.com/w3c/charter-drafts/issues/259#issuecomment-641385632) doing the charter changes before the announcements:   "...ask the Comm Team to refrain from sending the announcement until the charter has been updated."

[2020-07-09 14:59] koalie commented on #259
I was no aware of Dom's proposal. Thanks for calling my attention to it.

My most recent counter proposal probably scales better.
Unless it's a nightmare for us between the various ways pages are maintained (cvs vs. gh), OR unless team contacts object to letting us do so.

[2020-07-09 15:04] samuelweiler commented on #259
You are welcome.  I guess that answers Dom's question about whether an operational fix was put in place.  :-).

What support, if any, do you need to make the change?  (And, oh, wouldn't it be nice to have those pages maintained in a common way?)

[2020-07-09 16:18] koalie commented on #259
First, we need the vetting from @plehegar and @wseltzer that we can put this in place. That includes polling the team contacts. If there's broad agreement we should indeed proceed this way, I'll work with @xueyuanjia to make it happen (she primarily and I are the ones to take the action.)

Edit: And then, we need to announce it and document it in our handbook.

[2020-07-10 11:25] xueyuanjia commented on #259
+1 to charters accurate up-to-date.

I (Comm: @koalie and me) can take to update charters timely when there are Comm announcements (re-charter, group extension, chair (re) appointment).

However, it's hard for Comm to track changes that don't involve announcements, e.g., new Team Contacts, FTE changes or editorial changes (copyright, error links, typos). I see them better in Team Contacts' hands.

[2020-07-10 13:09] chaals commented on #259
Thanks for the detailed explanations @xueyuanjia

These are all team operational issues, and the team should put in place processes to sort them out. The history sections are important, just as they are in specifications.

[2020-08-04 15:46] samuelweiler commented on #259
Four weeks later, it's time for another report.  Here's the [last one](https://github.com/w3c/charter-drafts/issues/259#issuecomment-654909629).

- 4 chair mismatches (3 old, 1 new) + 1 chair affiliation mismatch (new? or missed before)
- 1 team contact mismatch (old)
- 1 charter date mismatch (old)

This is out of 34 WGs and 10 IGs.

As before, one of the chair mismatches was explained to me as "

[2020-08-28 20:24] swickr opened #274 "Charters should be explicit about allowing a group to propose Recommendations that allow new features"
Though Process 2020 allows a Working Group to wait until Proposed Recommendation to declare that it wishes to [allow new features to be incorporated](https://www.w3.org/2020/Process-20200915/#revised-rec-features) in future Recommendations, whether to permit the Group to request that option for any of its deliverables can be a factor during review of a proposed charter.

It would be useful for the

[2020-08-28 20:28] plehegar opened #275 "Charters should be explicit about a group intents to publish Recommendations or simply publishing CR Snapshots"
Though Process 2020 allows a Working Group to publish as they wish as long as the document is on the REC-track (modulo update/transition requests), a Group may choose not to publish a Recommendation (see also https://github.com/w3c/w3process/issues/443). It would be good to indicate the Group intend in the charter if known.

[2020-08-28 20:37] swickr commented on #275
You're referring to a Group that intends that the end state is a series of CR Snapshots.  As in #274, I agree this should also be explicit in the charter.

[2020-09-01 14:20] samuelweiler commented on #259
Four weeks later:

- 3 chair mismatches (2 old, 1 new; one of the old ones "can't be fixed")
- 2 team contact mismatches (1 old, 1 new)
- 0 charter date mismatches
- 1 group listed on the WG page that isn't a WG.  (Voice Interaction workshop PC.) [fixed same day reported]

(Out of 36 WGs and 10 IGs.)

Details:

- Web Applications Working Group chairs - new
- WPSIG chairs - old (can't be fixed)
- W

[2020-09-01 14:27] chaals commented on #259
What do you mean "can't be fixed"? This is a document on the Web, right?

[2020-09-01 15:12] samuelweiler commented on #259
The participants page at https://www.w3.org/groups/ig/securepay/participants is produced from W3C's database; it is not a static doc.

As it was explained to me, the Web Payments Security IG "involves three organizations. The DBWG database only reflects those who have joined from the W3C. The tool does not reflect that the chairs are participating as chairs of their respective organizations."

In

[2020-09-02 14:23] wseltzer opened #278 "[decentralized] Where do you want to discuss this draft charter?"
Thanks @jwrosewell for the discussion draft of a Decentralized Web Interest Group charter. I've merged the draft and made a PR #277  to add "DRAFT" to its labeling.

Where would you recommend that we invite people to discuss the charter itself? In github issues in this or a different repository? (The links in the box at the top are incomplete.)

[2020-09-02 16:21] jwrosewell commented on #278
Thank you. Could we use github issues in this repository for discussion on the charter?

[2020-09-02 17:28] wseltzer commented on #278
Sure.  You might suggest people tag their subject line as I did here, e.g.
https://github.com/w3c/charter-drafts/issues/new?title=[decentralized]

[2020-09-03 15:59] wseltzer commented on #278
Merged https://github.com/w3c/charter-drafts/pull/279

[2020-09-03 15:59] #278 closed, assigned to nobody

[2020-09-08 12:27] lbdvt opened #280 "[decentralized] Consider replacing word "recommendations" in the intro"
The introduction statement of the [Decentralized Web Interest Group charter](https://w3c.github.io/charter-drafts/decentralized-charter.html) is:
"The mission of the Decentralized Web Interest Group is to evolve **recommendations** to further the W3C’s One Web purpose by identifying, balancing and mitigating the unintended impacts of proposals early in the process, encouraging uniform change, and

[2020-09-08 16:03] AramZS opened #281 "[decentralized] Propose that the name be changed to avoid overlap with "dWeb""
Hi all,

Just wanted to raise the issue that the title of this group is very misleading since there is a well established DWeb movement that uses this term explicitly.

See:
- https://dci.mit.edu/decentralizedweb
- https://hackernoon.com/decentralized-web-dweb-what-is-it-n86o32vf
- https://www.decentralizedweb.net
- https://www.theguardian.com/technology/2018/sep/08/decentralisation-next-big-step-

[2020-09-16 18:06] mallory opened #286 "decentralized"

[2020-09-16 18:08] #286 closed, assigned to nobody

[2020-09-16 19:58] cwilso commented on #281
Strong +1 that "Decentralized Web" means something already, and it does not appear to be what this group is chartering.

[2020-09-17 13:57] wseltzer commented on #281
Some other confusingly used terms in the [draft questionnaire](https://github.com/w3c/web-advertising/blob/master/interoperability-choice-accessibility-accountability-questionairre.md) from which the group proposes to start work:
* accessibility, used as [access costs](https://github.com/w3c/web-advertising/blob/master/interoperability-choice-accessibility-accountability-questionairre.md#accessibi

[2020-09-23 00:42] rafaelcastrocouto opened #287 "[decentralized] - Handshake.org"
I'm not sure if I'm miss understanding the term Decentralized Web, but I feel this is a great place to make the [Handshake.org](https://handshake.org/) a standard.

For those who are not familiar with this github [project](https://github.com/handshake-org/), it aims to replace the DNS root zone with a decentralized blockchain database. The protocol is backward compatible and allows everyone to buy

[2020-09-23 00:52] johnnywu-namebase commented on #287
More info can also be found in the Namebase Learning Center at [learn.namebase.io](https://learn.namebase.io)!

[2020-09-25 08:20] jwrosewell commented on #280
Resolved in the pull request. Thank you.

[2020-09-25 08:58] jwrosewell commented on #281
We do need to avoid namespace collision primarily within the W3C. Other candidate options considered were “interoperable”, "impartial", and “stable”. “Interoperable” was dismissed as it is widely used already within the W3C. "Impartial" dismissed as it lacked clarity. “Stable” dismissed as it poorly reflects only one aspect of the proposed groups purposes.

The following was considered during the

[2020-09-25 10:21] jwrosewell commented on #281
@wseltzer regarding the draft questionnaire. Great suggestions. There is a [pull request on those documents](https://github.com/w3c/web-advertising/pull/67). I'll seek to include the resolution of those namining collisions there.

[2020-09-25 10:25] jwrosewell commented on #287
It does seem like handshake.org would be a proposal that would benefit from the work of this proposed group. As an interest group it would not develop standards. You may wish to create a [community group](https://www.w3.org/community/) to get that work underway for Handshake.org, or if a W3C member a workgroup to advance a recommendation?

[2020-09-25 13:05] rafaelcastrocouto commented on #287
Thanks a lot for the response @jwrosewell

I've just submitted the proposal for the Handshake.org community group, I hope it gets approved.

Since you mentioned, how would Handshake benefit from this group? How can I be of help?

[2020-09-25 14:57] astearns commented on #281
@jwrosewell unfortunately I think that using 'decentralized' in the name in any way is still going to be confusing. Merely dropping ’web’ does not make things more clear for me, at least.

My understanding is that this proposed group would be looking at ways to include considerations for systems that interact with the web, and possibly devolve some decision-making processes away from browser vendo

[2020-09-28 13:38] bvdw-ev opened #289 "[decentralized] The German Association for the Digital Economy (BVDW) welcomes the formation of the DWIG"
The German Association for the Digital Economy (BVDW) is the central body for the representation of interests of companies that operate digital business models and whose value creation is based on the implementation of digital technologies. As the driving force, guide and accelerator of digital business models, the BVDW represents the interests of the digital economy towards politics and society a

[2020-09-29 22:28] samuelweiler commented on #259
Another 4 weeks, another report:

3 chair mismatches (2 old, 1 new; one of the old ones "can't be fixed")
2 team contact mismatches (1 old, 1 new)

So exactly the same total number of errors as 4 weeks ago.

[2020-09-30 13:36] AliKelman opened #290 "[decentralized] Emerging Enterprise Protocols and unintended consequences"
I would like to participate in these discussions. As a starting point I cite a very significant article published back in June 2020 on unintended consequences and Encrypted DNS deployment. At the request of the Internet Watch Foundation I have been sitting in on EDDI discussions https://www.encrypted-dns.org/

Kelly Jackson Higgs over at Dark Reading published this piece on what internet pioneer P

[2020-10-02 18:25] wseltzer commented on #281
What about "Stakeholder Representation" or "Web Interconnection" as @astearns suggests above?

We're still hearing from people who find it hard to discern the group's goals from the name or even from the charter, so while [naming things is one of the known hard problems of computer science](http://www.tbray.org/ongoing/When/200x/2005/12/23/UPI) I think it's worth the effort to clarify before the c

[2020-10-02 19:57] cwilso commented on #281
I'm not sure what "Stakeholder Representation" is intending to mean, but it seems to be more making a comment about who is allowed to participate in other standards than it is an independent group.  (And it's not a positive implication, nor one that I think is true.)  I would say that the charter of this group seems more like "Web Ecosystem" than anything.  I still don't understand the goal of hav

[2020-10-08 14:27] wseltzer opened #291 "[decentralized] Clarify intended activities and coordination"
I [requested horizontal review in the Strategy Funnel](https://github.com/w3c/strategy/issues/231)

[Accessibility](https://github.com/w3c/strategy/issues/231#issuecomment-701505869) and [internationalization](https://github.com/w3c/strategy/issues/231#issuecomment-704210005) reviewers both asked for "a clearer description of intended activities and how the group would coordinate deliverables with

[2020-10-12 14:04] tmo-sirdata commented on #289
Sirdata as W3C's member do support the creation of such a group that could help maintaining a truly level-playing field within the digital advertising industry still by allowing competition and innovation while providing strong guarantees to preserve user privacy.

And from a wider perspective which could help identity, mitigate and/or avoid any other W3C groups' undesirable effects threatening W3

[2020-10-15 19:18] epc-team opened #292 "[decentralised] The European Publishers Council support for the establishment of the DWIG"
The [European Publishers Council](https://www.epceurope.eu/) (EPC) is a high-level group of Europe’s leading media companies, which are active in news media, television, radio, digital marketplaces, journals, eLearning, databases and books. The EPC’s publishers run a unique business sector that is driven by the values of integrity, independence, and press freedom. The EPC represents the interests

[2020-10-18 10:21] jwrosewell commented on #281
The name of this group should readily and succinctly describe the group mission. We concluded the group name must be unique within the W3C. We have observed complexity associated with avoiding naming conflicts outside the W3C. Therefore, prefixing the group name, or any group name, with W3C avoids that conflict.

This approach is commonly used. Examples include W3C Technical Architecture Group or

[2020-10-18 10:27] jwrosewell commented on #291
The group will initially author two documents that if adopted by the W3C will sit alongside the Security and Privacy self-questionnaire. These documents will help any proposer identify and better address  the consequences of their proposal in non-technical terms.

An example of such a list a proposer might create is the [Apple WebKit Tracking Prevention Policy](https://webkit.org/tracking-preventi

[2020-10-18 15:09] astearns commented on #281
@jwrosewell I do not think you have addressed the issue raised here, or been responsive to the alternative suggestions provided.

<details><summary>A separate suggestion on issue markup</summary>
You can use markup to nest supporting content, as I have done here. I don’t know whether you’re asserting that all members of this list require the name you prefer, but the long list isn’t particularly co

[2020-10-18 19:38] jwrosewell commented on #281
@astearns thanks for the comment on collapsable markup. Changed. Always learning.

In relation to your comment on addressing issues I have covered this in [more detail in another issue](https://github.com/w3c/charter-drafts/issues/291#issuecomment-711147511). In relation to your comment here.

Perhaps I misunderstood this sentance. Certainly in relation to the second part of the sentance that is n

[2020-10-18 20:17] astearns commented on #281
Do you think your proposed group matches the scope and intent of the groups mentioned in the first comment that already use the term ‘decentralized’? So far, I don’t see how the new group relates to the existing groups. I don’t think it’s the right move to take over the term in the W3C context when it means something different outside (but very relevant to) the W3C.

[2020-10-19 10:54] jwrosewell commented on #281
The groups mentioned at the start of this issue appear to have concerns that the proposed group could assist with and might represent a subset of considerations. The new group is concerned with all aspects of decentralization and unintended consequences. This is the only relationship I can identify between the groups.

As the none of the existing groups referred to operate within the W3C, there is

[2020-10-19 13:11] wseltzer commented on #281
@jwrosewell I don't understand your reference to precedent. Multiple people, including the W3C Director, have said they find use of the term "decentralized" confusing. Team would prefer to address that confusion before proposing a group for chartering.

[2020-10-19 13:53] jwrosewell commented on #281
Perhaps "Decentralization" rather than "Decentralized"?

In relation to precedent there are plenty of examples of naming overlap outside the W3C. "Automotive", "Technical Architecture" being two.

[2020-10-19 17:48] cwilso commented on #291
In what way do you intend to have these documents "sit alongside the Security and Privacy self-review questionnaire"?  That document is a joint product of the PING and the TAG, but it comes in to play in the TAG review process (when filing a design review request, the TAG asks a filer to fill out this questionnaire).  Has the TAG agreed to ask filers to ask these questions, too?

Re: " DIG will on

[2020-10-20 10:56] jwrosewell commented on #291
The chartering of the group and the use by others of the deliverables or resources the group make available are separate. All we’re asking for at this stage is for the group to progress to charter vote in the AC forum.

Assuming the group is chartered in 2020 then I suspect the documentation deliverables will be available in 2021. It will be up to other W3C members and chairs of other groups to de

[2020-10-20 14:03] astearns commented on #291
Ideally, the intended use of the groups deliverables would be part of the chartering process. The group would give specifics about how their deliverables are intended be used, and the people voting on the charter would agree on that plan.

[2020-10-20 14:37] cwilso commented on #291
+1 to what Alan said.  To be clear - IGs take W3C resources.  (CGs do not, really, which is why they are much easier to start, and why we encourage incubation of nearly all specifications in CGs before taking to a WG.). If there is no goal for how this self-review is intended to be applicable, it is difficult to know how much resource this is going to take.

I'm still not entirely clear what you w

[2020-10-21 09:53] jwrosewell commented on #291
@astearns The charter explains the deliverables and how they should be used. Like any other group in the W3C their use can not be mandated. If AC members would like to see the deliverables mandated then I believe that would involve a change to W3C Process in 2021 and would be seperate to the chartering of this group, or any group.

@cwilso In relation to the W3C resources I suggest that time is al

[2020-10-21 16:02] michaelchampion commented on #281
The draft charter says the mission is "identifying, balancing and mitigating the unintended impacts of proposals".  Shouldn't Unintended Impacts be the name of the proposed group?

Problem is, it's VERY hard anticipate unintended consequences.  After all, the web itself evolved out of an academic community that used URL/HTTP/HTML to share new information and discuss theories to explain it to benef

[2020-10-22 19:32] astearns commented on #291
Since I’m still struggling to understand what to expect from this IG, I did a little bit of digging into recent W3C activity from @jwrosewell

I’m guessing this is the kind of feedback to expect? Are these examples of the kind of unintended consequences the new group would uncover?

https://github.com/w3c/fingerprinting-guidance/issues/45
https://github.com/w3ctag/security-questionnaire/issues/92

[2020-10-23 18:02] jwrosewell commented on #281
@michaelchampion I agree that it is impossible to identify every unintended consequence that will risk centralizing the web. That does not mean we should not encourage new proposals to address this risk.

Similarly, the Privacy INterest Group (PING) references a none exhaustive list of harms captured across a wide range of documents.

The draft documents that preceded the proposed establishment of

[2020-10-23 18:12] jwrosewell commented on #291
@astearns Thank you for drawing attention to these important points.

The group charter provides a) guidance documentation to assist others in identifying unintended consequences; b) expertise to assist if requested; and c) commentary on matters provided for AC review. Only the last of these activities involve the group providing feedback.

The group aims to include participants with a diversity o

[2020-10-23 18:42] astearns commented on #291
You skipped “DWIG may provide input on request to other W3C groups developing web standards to help identify early impacts on the broader web community beyond the focus of their specification” which I interpret as providing feedback to working groups.

This is so vague that I would not in good conscience be able to support the creation of this IG. Charters exist in the W3C to limit scope and provi

[2020-10-23 20:43] michaelchampion commented on #281
I understand but disagree that this proposed charter would be an effective way to ensure that the interests of under-represented stakeholders are considered in W3C.  My suggestions for improving the charter are:
1. Make it a CG, not an IG.  You want a broad set of stakeholders participating, and IGs are member-only (plus invited experts, but that is certainly a barrier to entry).  Some seem to thi

[2020-10-24 00:01] cwilso commented on #281
To add to Mike's comments (which are 💯), I'd point out that we had a similar objection at the last rechartering of the PING - that we believe that the PING should be responsible for some detailed threat modeling, to give those developing specs some idea of what exactly the PING would be looking for (aka "teach spec authors to fish, rather than throwing the occasional fish at them").

I'm not sure

[2020-10-26 18:40] darobin commented on #291
I think I've read this charter three times now and I'll be candid: I still have idea whatsoever what it's trying to accomplish.

One of the deliverables purports to be about "Decentralization, Choice, Auditability, and Accountability." Stated in this way, it reads to me like four words picked at random. What driving principle gives coherence to this nebulous set? The other deliverable is about "fo

[2020-10-26 21:39] jwrosewell commented on #281
The proposers of the charter worked on the documents in the Improving Web Advertising Business Group (IWABG) where it was felt they related to more than advertising and as such should be rehomed. The participants of that group met and agreed to pursue an Interest Group charter to progress these goals and create documents with official standing inside the W3C to aid others.

The PING charter and th

[2020-10-26 22:00] jwrosewell commented on #291
DWIG (or DIG for the moment) does propose providing expertise on request to other groups only if those group request it. This would only include feedback if feedback was requested. See the [parallel issue where the feedback on the PING charter](https://github.com/w3c/charter-drafts/issues/281#issuecomment-716839005) is referenced and I explain how that feedback fed into the drafting of the propose

[2020-10-26 22:19] darobin commented on #291
I'm sorry but after reading this I still do not understand what this group is intended to do. You state that this group does not conduct general review. Thanks, that narrows it down to expert review. But, again, expert in what?

PING carries out expert review in matters of privacy. Privacy is the right to appropriate flows of information. Everything can always be clearer, but that's all pretty str

[2020-10-26 22:41] jwrosewell commented on #291
DIG does not intend to carry out reviews of any type unless requested in which case the precise label for the review would need to be agreed on a case by case basis.

To expand your comparison text on PING.

DIG provides guidance in matter of identifying unintended consequences which centralize the web. Centralization is the concentration of control of an activity or organization under a single au

[2020-10-26 22:54] cwilso commented on #281
I don't think One Web has anything to do with the Membership Agreement; nor is it in the Process document.   The W3C's strategy and vision are determined by the Director and the Team; with advisement from the TAG and AB, of course.  The Process defines the mechanics by which specifications are developed, how WGs work, etc; the Membership Agreement defines the mechanics by which... well, by which t

[2020-10-26 23:11] cwilso commented on #291
Speaking for myself, I got the impression that the group was intended to do general review because of its mission:

that seemed very intentional to me that the group was planning on reviewing proposals, in other to identify and mitigate what it saw as unintended impacts.

Auditability is entirely, in my opinion, the role of Web Platform Tests, and the related drive to make test suites the norm for

[2020-10-26 23:19] darobin commented on #291
I'm really sorry but I'm increasingly confused with every answer. One of the two deliverables for this group is a review document, but this group would not do review? Unless someone (who?) asks it to do review, in which case it might but we don't know of what, for whom, or which purposes.

As Chris says, it doesn't seem that this group has a clearly defined area of applicability. Decentralisation

[2020-10-26 23:22] darobin commented on #291
Oh, I forgot to add: there are already [multiple groups dealing with decentralisation](https://www.w3.org/community/groups/). I would recommend you reach out to them to expose how you might align as a community before chartering a group.

[2020-10-27 18:23] samuelweiler opened #294 "[svg] GH does not reflect current team contact; no history entry for team contact change"
It appears that the SVG charter was updated in CVS to show a new team contact, but that change (and others?) was not backported to this Github repo, even though the charter points to this repo (including for issues like this one).  Additionally, the history table in the charter was not updated to reflect the team contact change (and perhaps others?).

[2020-10-27 18:39] samuelweiler commented on #259
(Even TPAC isn't stopping the generation of this report!)

Good news!  No new discrepancies appeared in this every-four-week audit.  One item has been fixed.

3 chair mismatches (all old, one "can't be fixed")
1 team contact mismatch (old)

Bad news: with only 37 WGs and 10 IGs, we still have >5% with a discrepancy.

[2020-10-27 18:52] jwrosewell commented on #281
I do not think @cwilso violated member confidentiality. I added the point in brackets for the benefit of those that are not W3C members but are following this issue.

If the membership agreement does not reflect the mission of the W3C then that is an issue for the Process CG. I have raised that as an issue titled "[Align membership agreement to W3C mission](https://github.com/w3c/w3process/issues/

[2020-10-27 19:09] michaelchampion commented on #281
To be pedantic :-) it’s actually an issue for the W3C management team, the Host universities, and the AB who are figuring out how to structure a new nonprofit corporation that will take over the role the Hosts have played.  As I understand it, the Process CG is mostly about implementing the guidance of the AB (which formally owns the Process document) in language the community can understand and l

[2020-10-27 19:28] jwrosewell commented on #291
**Amendments**

I have amended the draft charter to explicitly state that horizontal review is out of scope. The group produces guidelines. It does not perform reviews.

Following todays meetings I have added to the work product of the group the creation of a document to translate between the different disciplines to aid common understanding.

These are included in the [pull request](https://githu

[2020-10-27 21:19] cwilso commented on #281
Yes, let's move the conversation to #291 re: mission.

On the particular topic of the PING charter: the PING group had already taken up the mantle of reviewing specifications - and that is their primary role.  They drive this - they proactively look at new incubations and specs, and also respond to requests for review (but generally, they get to it first, in my experience).

The PING rechartering

[2020-10-27 21:23] michaelchampion commented on #291
@jwrosewell I get the sense from this discussion that you envision a very different organization from the current W3C.  For example:

Does the Web Platform Tests group work with external auditors to verify that standards have been implemented correctly in practice by different participants? What about the none technical component of implementations? For example; rules governing data or rights assi

[2020-11-03 15:51] plehegar commented on #264
[close to avoid future confusion while we're surveying the Groups]

[2020-11-03 15:51] #264 closed, assigned to nobody

[2020-11-08 17:34] svgeesus commented on #294
This seems to be a fundamental misunderstanding on the purpose of this repo. From the README:

@samuelweiler you seem to be under the impression that this is also the official repository of all non-draft charters. If you want that to be the case you should propose it and get consensus on this expansion of scope.

[2020-11-09 05:52] mnot commented on #291
+1 to what @michaelchampion  has said.

**If** I understand the intent of this proposal, I think you'd do _much_ better to:

1. For now, propose a Community Group

2. Rename it to something like "Platform Power on the Web", "Consolidation of Power on the Web", etc.

3. Focus it _only_ on trying to come up with a proposal of a principle relating to that topic that can be adopted by the community.

[2020-11-10 07:27] jwrosewell commented on #291
1. In relation to audit it is my intention to ensure that standards can be audited by others, not by the W3C. I’m sorry that was not clearer. We do not give consideration to the creation of standards that support audit.

2. The W3C already has many debates on principles. See [Ethical Web Principles](https://www.w3.org/2001/tag/doc/ethical-web-principles/) or [AB Vision](https://github.com/WebStand

[2020-11-10 09:14] mnot commented on #291
I think that your (6) and (7) *are* worthy topics for a discussion at the W3C, along the lines I mentioned previously. The problem with the proposed charter is that it conflates them with so much else.

WRT "water under the bridge" -- the point that I was making is that the Web's fundamental design -- cemented way back in ~1990 timeframe -- creates network effects for sites that are extremely diff

[2020-11-10 17:40] plehegar commented on #294
The approved charters are in w3.org, not GH, since they are subject to strict rules for changing them.

[2020-11-10 17:55] samuelweiler commented on #294
No; I don't need this repo to be the repo for non-draft charters.  I only filed this because I saw that the charter specifically pointed at this repo: "This charter is available on GitHub. Feel free to raise issues."  Perhaps that's not what you intended with that pointer?

In any case, I think the history table (in the published charter) should still be updated to show the team contact change, ev

[2020-11-11 07:21] jwrosewell commented on #291
Regarding my (6) and (7). They don't relate to the charter. I do agree that they are topics that the W3C needs to recognise. There is some urgency to do so. Could those more experienced than me advise on the forum to take those topics where they relate to the W3C?

[2020-11-11 17:38] michaelchampion commented on #291
[bikeshed alert ... this topic fascinates me, so  much of what I say below is somewhat tangential this issue, the purpose of this repo, and the mission of W3C]

@mnot 's point ...

... is a profound topic, probably one for future History of Technology and Economics scholars to sort out.   Or maybe Historical Fiction authors... there might be a XanaduPunk  genre envisioning an universe where [Ted N

[2020-11-11 18:32] jwrosewell commented on #291
It is for precisely this reason the group charter scope is limited to providing guidelines and support to proposal authors to help them identify a broad set of unintended consequences in the context of a technical proposal.

I hope we can all agree it is not the role of the W3C, or any technical standards body, to be involved in politics in anyway.

Technical standards bodies should be conscious o

[2020-11-11 19:32] michaelchampion commented on #291
And this is precisely what I think will be impossible to get consensus on.  The underlying knowledge is not in place to infer unintended consequences of a technical proposal, and the politics/business/technology are so complex and intertwined that even rough consensus seems unlikely anytime soon.

I could be wrong of course, and this may be more feasible than some of us think. @mnot proposes a way

[2020-11-11 19:50] jwrosewell commented on #291
What is the standard of consensus that is required?

Official W3C documents like the [Security and Privacy Questionnaire](https://github.com/w3ctag/security-questionnaire) lack consensus, particularly as new members join W3C. Legitimate and important issues are [closed](https://github.com/w3ctag/security-questionnaire/issues?q=is%3Aissue+is%3Aclosed) and ignored.

This proposed group charter expli

[2020-11-12 17:24] cwilso commented on #291
I'm not sure how a link to all the closed issues on the questionnaire - including those quite legitimately resolved - furthers this case.

I *do* think it would be difficult to gain consensus around "unintended consequences", because it appears you're concerned about INTENDED consequences - e.g. enhanced privacy for users.  The Security and Privacy questionnaire is largely owned by the Privacy Int

[2020-11-18 15:00] lidel commented on #281
Late to the discussion, but as a member of _decentralized web_ community (disclosure: working on @ipfs project) I'd like to +1 to the concerns related to the "decentralized" name.

Really suggest picking something that can't be confused with existing dweb movement.

The "decentralized/distributed web"  (DWeb) movement was build on values of user agency, data control, privacy and trustless security

[2020-11-24 13:54] svgeesus commented on #274
The process doc does not use the term living standard, so the template should not either to avoid confusion.

This looks like a MAY requirement, to give a heads-up that some deliverable is expected to allow new features. Process only says that this has to happen at Proposed Rec stage.

Is this new "allow new features" expected to replace publishing errata, or to supplement that process, or to allo

[2020-11-24 14:00] svgeesus commented on #275
So https://www.w3.org/2020/Process-20200915/#transition-pr is about stronger emphasis on getting to Rec, to ensure HR happens and issues are addressed; it also touches on what it means for a spec to be "maintained".

Putting optional boilerplate in a charter that says "we expect to hang around in CR forever" seems to encourage an anti-pattern therefore; unless the wording focuses more on "how will

[2020-11-24 14:30] svgeesus commented on #294
Agreed

[2020-11-24 14:31] #294 closed, assigned to plehegar

[2020-11-24 15:30] samuelweiler commented on #259
The list of discrepancies is the same as it was on 27 October 2020.  All four have been on the list since at least September. Two of the four have been on the list since I started doing these audits in early June.

[2020-12-01 02:58] samuelweiler commented on #260
Looking at this again, months later, I still think it's a good idea.  Specifically, without removing anything, add a link to https://www.w3.org/groups/wg/eowg/charters (for the appropriate group).

[2020-12-01 15:08] samuelweiler opened #297 "[template] remove reference to publication status page"
The template includes: "More detailed milestones and updated publication schedules are available on the group publication status page."  with a link pointing to a wiki

Is anyone still using this?  Should we remove it?

If we should leave it in, what should it point to?

[2020-12-01 15:11] samuelweiler opened #298 "[template] HR review "3 months" text re: process 2020?"
The current template says:

"Group is advised to seek a review at least 3 months before first entering CR ..."

How should that change based on Process 2020?

[2020-12-01 15:36] wseltzer commented on #262
Let's write a pattern book, rather than choosing a size. Can we write up text describing CG-WG relationships that we've seen work, and invite groups to choose among alternatives?

[2020-12-01 15:47] wseltzer commented on #297
@plehegar does Project have a recommendation or best practice here?

[2020-12-01 21:35] samuelweiler opened #299 "[template] consolidate testing lines"
We have two testing lines, separated by an unrelated item.

- There should be testing plans for each specification, starting from the earliest drafts.
- Consider adopting a healthy testing policy, such as: To promote interoperability, all changes made to specifications should have tests.

They should be combined, perhaps by striking the first one, modifying the second to say "all features" rather

[2020-12-01 21:39] samuelweiler opened #301 "[template] remove performance from HR review?"
Why is performance listed in the required HR reviews?

"For all specifications, this (Working|Interest) Group will seek horizontal review for accessibility, internationalization, performance, privacy, and security"

[2020-12-01 21:40] astearns commented on #299
I would prefer to keep the “all changes” wording, as that encourages testing as the specification is developed rather than waiting for the final text and finding out some assumption everything’s built on is wrong.

So perhaps the first bullet could be about a plan for testing every feature, and the second bullet could be about keeping tests up-to-date and/or to validate spec changes?

[2020-12-03 14:25] svgeesus opened #303 "[template] time to add the TAG design principles"
The document is still being worked on, but I wonder if it is time to add something like

[2020-12-03 14:27] svgeesus commented on #301
Why do you want to remove it?

Performance is clearly something that can apply to all specifications. It is thus clearly horizontal.

Also, it is a good example of a tradeoff. For example, some feature or some mitigation might improve one aspect at the expense of severely degraded performance, and ths needs to be taken into account.

I oppose the removal of performance.

[2020-12-03 14:29] svgeesus commented on #299
Yes, I agree with @astearns that these two items have related, but different, intents. The suggested merger obscures that, and the existing text is the result of multiple AC reviews.

[2020-12-03 21:37] samuelweiler commented on #301
Because, unlike the others, we're not directing groups re: where to get that review.

(Alternatively: where should groups ask for that review?  I thought this was about naming things that they need to specifically seek (and that we tell them how to seek)...)

[2020-12-07 14:48] wseltzer commented on #303
Sounds premature. When does TAG plan to share these design principles more widely/formally?

[2020-12-08 18:03] svgeesus commented on #262
Discussed on 8 Dec 2020 strat call, and four general patterns were described. I will make a PR to add those as choices, while allowing others if those don't fit.

[2020-12-08 18:05] svgeesus commented on #275
Discussed on 8 Dec 2020 strat call; unless the AC is requesting this, it seems premature to add this to the charter. The inclination was to close this with no change.

[2020-12-08 18:08] svgeesus commented on #274
Discussed on 8 Dec 2020 Strat call. It was felt that putting this in the charter was not a good idea; groups can decide on a case by case basis when a particular specification goes to Proposed Rec, and the AC has a chance to weigh in at that time. Thus, strat preferred to close with no action.

[2020-12-09 18:13] plehegar commented on #275
So, we don't make the participants intent in the charter if they have one? I understand the worry about encouraging folks not to get to REC but saying nothing in the charter if the intent is known doesn't help imho.

[2020-12-10 18:53] plehegar commented on #297
we don't have best practices, short of our milestones tracker which hasn't been used/enforced due to its limitations. Groups are using wikis, google doc, etc to maintain this info, if they do maintain those infos. We can not put a generate link in there but keeping the sentence in the charter while allowing it to be removed when edited seems a good trade off. In other words, if such link exists, t

[2020-12-21 17:42] TzviyaSiegman commented on #291
There are a number of important issues raised here, but as several people have pointed out, we are working within an existing system. Remind me someday to tell you about my dreams of Hyper* making use of Xanandu. I too came to the W3C from an adjacent industry and was rather shocked that we couldn't tell browsers what to do and had no capacity to simply make ebooks work online.

The W3C Process mi

[2021-01-15 20:27] samuelweiler opened #307 "[service workers] remove "other charter" link"
Section 2.1 has a link to the current/old charter, which seems odd.

[2021-01-15 20:29] samuelweiler opened #308 "[service workers] mention change of chairs in history"
Not sure if there's other history missing; maybe do a quick audit to see?

[2021-01-15 20:31] samuelweiler opened #309 "[service workers] broken link for group publication status page"
Does the WG plan to use this?  If not maybe remove it?

(This may be a template issue.  See https://github.com/w3c/charter-drafts/issues/297

[2021-01-15 20:52] samuelweiler opened #310 "[service workers] github link for charter"
Change GitHub charter link to point to the charter doc itself, maybe, rather than the whole repository?

[2021-01-15 20:58] samuelweiler opened #311 "[pointer events] broken link for group publication status page"
Does the WG plan to use this? If not maybe remove it?

(This may be a template issue. See #297)

[2021-01-15 21:01] samuelweiler opened #312 "[pointer events] fix unrealistic completion date (from the past)"
The draft charter says Pointer Events (Level 3) will be complete in 4Q2020.

[2021-01-15 21:02] samuelweiler opened #313 "[service workers] fix group page link"
In section 6, link to group instead points to charter.

[2021-01-15 21:03] samuelweiler opened #314 "[service workers] remove todo tag"
section 6, there's still a todo tag around the github link.

[2021-01-15 21:06] samuelweiler opened #315 "[pointer events] set a CfC duration"
Sectio 7 still has a todo tag.

[2021-01-15 21:06] samuelweiler opened #316 "[pointer events] fix WG link"
Link to WG in section 6 instead points to this charter.

[2021-01-15 21:17] samuelweiler opened #317 "[pointer events] coordinate with (or merge with?) devices and sensors"
The Devices and Sensors WG has some good experience mitigating the sorts of fingerprinting risks described in Section 13 of the pointer events spec.

This WG should be encouraged to work with them - and perhaps even merge with them outright.

[2021-01-26 18:05] #311 closed, assigned to nobody

[2021-01-26 18:05] #312 closed, assigned to nobody

[2021-01-26 18:05] #315 closed, assigned to nobody

[2021-01-26 18:05] #316 closed, assigned to nobody

[2021-01-26 18:10] plehegar commented on #317
This Group has been separate due to IP entanglements in the past. Also, not all browser vendors have time to participate in DAS, while they do support Pointer Events. This works shares a lot in common with UIEvent/MouseEvent, less with DAS.

However, you make a good point about mitigation risks. I added DAS in the dependencies list and was explicitly about mitigation risks.

@patrickhlauke
@w3c/w3

[2021-01-26 18:55] plehegar commented on #307
This link is required by the Process.
[[
The stable URL of the Working Group charter under which the Exclusion Draft was published (labeled the “Other Charter”).
]]
https://www.w3.org/2020/Process-20200915/#WGCharter

[2021-01-26 18:55] #307 closed, assigned to nobody

[2021-01-26 18:59] #309 closed, assigned to nobody

[2021-01-26 19:03] #310 closed, assigned to nobody

[2021-01-26 19:03] #313 closed, assigned to nobody

[2021-01-26 19:03] #314 closed, assigned to nobody

[2021-01-26 19:05] plehegar commented on #308
@ylafon , can you complete the history section with mention of chairs change?

[2021-01-27 15:39] samuelweiler commented on #316
Thank you!

[2021-01-27 15:40] samuelweiler commented on #315
Thank you!

[2021-01-27 15:41] samuelweiler commented on #313
Thank you

[2021-01-27 15:41] samuelweiler commented on #314
Thank you.

[2021-01-27 15:44] samuelweiler commented on #307
Weird.  OK.

[2021-01-27 15:44] samuelweiler commented on #310
Thank you

[2021-01-27 15:45] samuelweiler commented on #309
thank you

[2021-01-27 15:46] samuelweiler commented on #317
I like it.

[2021-02-02 20:28] wseltzer commented on #317
@samuelweiler is privacy review now satisfied?

[2021-02-02 20:31] samuelweiler commented on #317
Yes.  I'll add the flag.

[2021-02-02 22:07] wseltzer opened #325 "[service workers] Scope and deliverables"
From the draft charter's references to other deliverables, it's implied (but not clearly stated) that yet other deliverables would be out of scope without a re-chartering. If that's the intent, say so directly, with:

See also https://github.com/w3c/charter-drafts/pull/324

[2021-02-03 15:53] ylafon commented on #325
That was indeed the intent (based on the FO during the last charter review)

[2021-02-04 17:44] chris-little opened #327 "Update list of OGC WGs involved in liaison"
Section 4.2
`Web Coverage Services (WCS) SWG, Features API SWG, Web Mapping Service (WMS) SWG, OGC API - Records SWG
    These Working Groups develop technologies including OGC API: Features and OGC API: Records that will likely be discussed within the Spatial Data on the Web Working Group.`

should reflect the recent names changes:
`OGC API-Coverages SWG, API-Maps SWG, API-Features SWG, API-Recor

[2021-02-08 17:55] samuelweiler opened #329 "[browser testing and tools] test report mandatory"
maybe reorder the test report section and "may produce" line, since the former is presumably mandatory?

[2021-02-08 17:57] samuelweiler opened #330 "[browser testing and tools] test report list of browsers"
The language around the list of engines for which test reports will (or may?) be generated is a little unclear.  Do you mean _these_ engines (as a mandatory list) or is this a list of examples?  If the former, say "these", if the latter, just remove them.

And do you really want edge in there separately?

[2021-02-08 18:03] samuelweiler opened #331 "[browser testing and tools] bad link to WG homepage"
The link in section 5 back to the WG's homepage points to this charter.

[2021-02-09 22:53] samuelweiler opened #332 "[browser testing and tools] remove "out of scope" section?"
if there is nothing to say in the "out of scope" section, remove it?

[2021-02-09 22:54] samuelweiler opened #333 "[browser testing and tools] correct history"
This says no changes in deliverables, but one deliverable (BiDi) has been added.

[2021-02-09 22:58] samuelweiler commented on #329
Recent edits seem to have addressed this.

[2021-02-09 22:58] samuelweiler commented on #330
Recent edits seem to have addressed this.

[2021-02-12 12:14] #308 closed, assigned to nobody

[2021-02-15 07:08] sideshowbarker commented on #329
Closing per https://github.com/w3c/charter-drafts/issues/329#issuecomment-776300610

[2021-02-15 07:08] #329 closed, assigned to nobody

[2021-02-15 07:09] sideshowbarker commented on #330
Closing per https://github.com/w3c/charter-drafts/issues/330#issuecomment-776300655

[2021-02-15 07:09] #330 closed, assigned to nobody

[2021-02-15 07:15] #331 closed, assigned to nobody

[2021-02-15 07:16] sideshowbarker commented on #331
Thanks much for catching that — fixed now

[2021-02-15 07:20] #332 closed, assigned to nobody

[2021-02-15 07:21] sideshowbarker commented on #332
Thanks, agreed — we have nothing to include in the *Out of scope* section, so I’ve dropped i

[2021-02-15 07:26] #333 closed, assigned to nobody

[2021-02-15 07:26] sideshowbarker commented on #333
Thanks much for catching that — fixed now

[2021-02-17 23:56] samuelweiler commented on #297
Perhaps we could point to: https://www.w3.org/groups/wg/[whatever]/publications ?

[2021-02-19 17:50] samuelweiler commented on #275
I think https://github.com/w3c/charter-drafts/pull/343 resolves most of this, but perhaps we should also take out the "expected completion" line in the deliverables list?

[2021-02-24 10:26] xfq opened #348 "[template] Dark mode"
Is there an interest in implementing dark mode for the charter template?

[2021-02-24 10:26] xfq commented on #348
I have a semi-finished example here for your reference: https://xfq.github.io/testing/dap-charter-dark-mode/DASCharter-2020.html

[2021-03-02 13:25] samuelweiler commented on #327
I assume this is about the spatial data on the web IG.  Where is that draft charter?

[2021-03-02 14:25] wseltzer commented on #301
Perhaps "will consider performance," since we don't have a specific place to direct them for review

[2021-03-02 14:26] samuelweiler commented on #301
from strat 2 March 2021, change this to "consider" rather than HR.  https://www.w3.org/2021/03/02-strat-irc#T14-24-32
as success criteria

[2021-03-02 14:40] samuelweiler commented on #297
strat call 2 march 2021 suggests yes, that is a reasonable default.

[2021-03-03 09:34] vivienlacourba opened #350 "[browser testing and tools] markup validation issues"
_This comment is for the [new Browser Testing and Tools Working Group Charter](https://w3c.github.io/charter-drafts/browser-testing-tools.html)._

In this new charter I noticed a couple of markup issues reported by validator Nu see:
https://validator.w3.org/nu/?doc=https%3A%2F%2Fw3c.github.io%2Fcharter-drafts%2Fbrowser-testing-tools.html

Please also use `https://` for the link to the public-brows

[2021-03-03 10:18] sideshowbarker commented on #350
Fixed now — https://validator.w3.org/nu/?doc=https://w3c.github.io/charter-drafts/browser-testing-tools.html

Yep — thanks for catching that; fixed now

[2021-03-03 14:07] chris-little commented on #327
@samuelweiler This was a misplaced and missed comment on the [Charter](https://w3c.github.io/sdw/roadmap/charter-2020.html) which is now accepted.

[2021-03-03 14:07] #327 closed, assigned to nobody

[2021-03-07 15:41] #350 closed, assigned to sideshowbarker

[2021-04-23 20:57] ghost opened #352 "Date of SVG charter validity?"
Hi,

According to https://www.w3.org/Graphics/SVG/svg-2019.html the charter "ran out" at the end of March.

![Charter dates](https://user-images.githubusercontent.com/12199980/115928879-226c5f80-a487-11eb-856b-43de956b44f5.png)

Is a replacement coming or will the dates just be prolonged?

Thanks,
Sanja

[2021-04-24 19:34] Nuckijfuta opened #353 "Remove"
Remove all

[2021-04-25 23:42] frivoal opened #354 "[wg/service-workers] "Adopted Specification""
Sorry for not noticing this earlier.

In section 2.2, the current wording of the service workers charter uses "Adopted specification" to link to Community Group reports it plans to take up. While it's good to link to those, the term "Adopted specification" is very close to "Adopted Draft", which is a [term defined by the Process](https://w3c.github.io/w3process/#adopted-draft) to refer specificall

[2021-04-26 21:48] #353 closed

[2021-04-27 14:48] #297 closed, assigned to nobody

[2021-05-03 15:49] svgeesus commented on #348
The preview looks okay and I think this is a nice thing to do. @xfq what items remain to be finished?

[2021-05-03 15:58] svgeesus commented on #303
I hear from a TAG member that the Process Document does not allow the TAG to publish on /TR !!

https://github.com/w3c/w3process/issues/429
https://github.com/w3c/w3process/issues/461

Which makes it hard to share more formally. TAG reviews regularly use these design principles though.

[2021-05-03 16:00] svgeesus commented on #274
Since we resolved to close with no action, I guess this should be closed.

[2021-05-03 16:00] #274 closed, assigned to svgeesus

[2021-05-03 16:09] svgeesus commented on #298
I don't see anything in Process 2020 [6.1.2.1. Wide Review](https://www.w3.org/2020/Process-20200915/#wide-review) that would necessitate a change to reviews before entering CR. Did you have something specific in mind?

Or were you thinking of the review of [Candidate Additions](https://www.w3.org/2020/Process-20200915/#candidate-addition), which does not involve a CR step at all?

[2021-05-04 17:27] svgeesus opened #355 "[template] Scope should be scope (only)"
The charter template does not have an **Introduction** or **Background** section, although some charters have added this.

The charter template leads off with a **Scope** section. AC Reps tell us that they want the Scope section to be brief, and solely dedicated to stating what exactly is _in scope_ or _out of scope_.

The charter template contradicts this and encourages using the Scope section to

[2021-05-07 03:38] xfq commented on #348
Two things that I currently think of:

* The W3C logo is too bright. We should consider replacing it with white text on a blue background.
* The contrast of the Timeline table and the testing policy (in § 3 Success Criteria) is too low and needs to be adjusted.

[2021-05-11 13:52] svgeesus commented on #355
@wseltzer this addresses the comment you made (originally in relation to the PNG G charter) can you confirm your concerns are addressed by the related PR?

[2021-05-11 20:09] wseltzer commented on #355
thanks @svgeesus, LGTM

[2021-05-11 20:54] #355 closed, assigned to svgeesus

[2021-05-12 19:53] samuelweiler opened #357 "[PNG] Update RFC link(s)"
RFC links should point to datatracker not tools, e.g. https://datatracker.ietf.org/doc/html/rfc2083

[2021-05-13 15:00] #357 closed, assigned to svgeesus

[2021-05-17 20:53] wseltzer commented on #275
WebAppSec used: the Working Group intends to publish the latest state of their	work as Candidate Recommendation (with Snapshots). The group will advance documents to Recommendation when they are sufficiently mature, with no explicit milestones.
https://github.com/w3c/webappsec/pull/581

[2021-05-18 13:00] #301 closed, assigned to nobody

[2021-05-18 13:07] svgeesus commented on #299
Closed as no consensus to make the change

[2021-05-18 13:07] #299 closed, assigned to nobody

[2021-05-18 13:09] svgeesus commented on #275
Add the WebAppSec wording (if approved following AC review) to the template as one option.

[2021-05-21 18:52] plehegar commented on #275
cc @dontcallmedom

[2021-05-21 19:20] plehegar commented on #352
we're working on a new charter that will only be there for maintenance purpose. We don't expect a lot of activity from this Working Group, if any, however. The interest to do more work on the specification is too low at the moment.

[2021-05-21 19:50] dontcallmedom commented on #275
I am unconvinced the text about CR Snapshots and Rec when mature adds anything - this is exactly what any WG is expected to do.

[2021-05-23 06:59] ghost commented on #352
Thanks for the reply, @plehegar.

[2021-05-23 06:59] #352 closed, assigned to plehegar

[2021-06-17 13:43] svgeesus opened #360 "[svg-2021] Wrong description of SVG Native"
The description of SVG Native is for an entirely different specification!

use the abstract instead in the charter:

(I changed "SVG 1.1" to "SVG" to leave open whether the profile is of 2.0 or 1.1)

[2021-06-29 14:11] svgeesus commented on #360
@marcoscaceres ?

[2021-06-30 04:21] marcoscaceres commented on #360
Oops, indeed copy/pasta from the old charter. Thanks for letting me know!

[2021-06-30 04:21] #360 closed, assigned to marcoscaceres

[2021-07-20 12:40] svgeesus commented on #303
Given response from TAG, and also confirmation that WHATWG already follows them, I plan to add this to the template.

[2021-07-20 14:03] wseltzer commented on #303
Let's discuss

[2021-09-29 16:55] ianbjacobs commented on #262
@svgeesus, you mentioned creating a pull request for CG/WG relationships (in the charter template). Can you indicate whether that's still something you would like to do, or would like to collaborate on?

[2021-10-01 13:04] nigelmegitt commented on #275
If the suggestion is that some WGs expect _not_ to advance to Rec when sufficiently mature, then I would agree that a) that should be discouraged and b) it should be explicitly stated. But I'd much prefer that WGs _are_ expected to advance to Rec when adequately mature.

[2021-10-11 14:01] svgeesus commented on #262
Thanks for the reminder. Yes, still interested. [Minutes (team-only)](https://www.w3.org/2020/12/08-strat-minutes.html#item02)

[2021-10-20 15:40] samuelweiler opened #378 "[template] Link to charter status page"
Let's add a link to the header of all charters pointing at the group's charter status/history page, e.g. https://www.w3.org/groups/wg/browser-tools-testing/charters.  That could eliminate the need to update old charters to point to new ones.  @koalie

Thanks to @tantek for the inspiration: https://w3ccommunity.slack.com/archives/C010204K9AN/p1623902700001000

[2021-10-21 14:08] koalie commented on #378
YES!
![make it so](https://user-images.githubusercontent.com/3716853/138294728-fe23f4d1-61fe-4e48-a4f4-e79b26a78591.gif)
... please

[2021-10-21 15:16] plehegar commented on #378
+1. @samuelweiler , will you do a pull request or do you have a suggestion on who should do it?

[2021-10-21 17:48] #378 closed, assigned to samuelweiler

[2021-12-11 13:31] mangelozzi opened #382 "A way of altering HEX colors lightness and opacity"
There are many great features in CSS for altering color, however the one difficulty I encounter often is as follows:

Say I have a button web-component, and there are many variations. To set the background color dark on hover, one requires a lot of server side processing to do all sorts of color magic, and store all these results and inject them somehow into the CSS.

The `filter` property is grea

[2021-12-21 15:05] himorin opened #383 "[template] multiple place for brief description and backgound?"
current template has three places to put mission/background/description as:

at the top (right below the group name as title)

at right below of group summary table, before 1. Scope section

and, there is one section `1. Scope` to briefly describe scope of group.

In most cases, (at least) contents for former two places should be similar or the same, since landscape, technology, and relationship t

[2022-01-17 14:19] svgeesus opened #385 "[template] Consistent markup between the charter template and the deliverables tool"
The [charter template](https://w3c.github.io/charter-drafts/charter-template.html) uses a definition list, with one `dt` per normative specification:

[code]

The (Team-only) deliverables tool, for example https://www.w3.org/groups/wg/audio/deliverables  uses a `li` per normative specification. All the info is there but it requires tedious copy and paste to put the info from the tool into the form

[2022-02-15 14:25] svgeesus commented on #383
The mission is typically a single sentence while the background should give more detail.

The scope and background used to be the same section but feedback from charter reviewers, in particular legal, was that the scope section should be short and avoid background discussion.

[2022-02-15 14:27] svgeesus commented on #382
This has been raised in the wrong GitHub repo. Moving to the CSS WG one.

[2022-02-15 15:08] svgeesus commented on #303
This was fixed in Process 2021

If the question is "when will they be done" then the answer is that they are taking a living standard approach and the principles are continuously evolving. If the question is "when is it appropriate to cite them" then Horizontal Review already includes TAG review, which includes checking the box that the Design Principles have been read.

If work is going to fail T

[2022-04-21 13:25] samuelweiler opened #391 "[Web Assembly] source alternative / auditability"
More substantively on the security side, what provisions are available for auditing WebAssembly code? Are there things we can do to make it more auditable?

I'm imagining, for instance, a requirement that the WebAssembly always be optional - making a compilable/readable version available that a browser can always load as an alternative.  And perhaps output be deterministically compilable from sour

[2022-04-27 18:35] plehegar commented on #391
@ericprud , can you look into this?

[2022-05-01 09:45] ericprud commented on #391
trying to get back from bike trip (train issues). will look Mon or Tue

[2022-05-03 11:35] egekorkan opened #393 "[wot-cg] Specifying the chair election process"
After the draft of #392, the part regarding the chair election needs to be more precise but at the same time deadlock-free. The aim is to have a specific way to elect chairs. This means:
- Removing the first part that says `Participants in this group choose their Chair(s) and can replace their Chair(s) at any time using whatever means they prefer`.
- Structuring the remaining part so that if there

[2022-05-03 11:41] egekorkan opened #394 "[wot-cg] Specifying the contribution mechanics"
At #392 , the contribution mechanics does not mention how and where the emailing list is used versus GitHub functionalities. We should be specific and informative on how people should use one or the other.
Also, we should explain that organizing events (hackathons etc.) can be governed by other documents (reports?) that the CG publishes

[2022-05-06 12:53] egekorkan commented on #393
- [x] The chairs' current idea is to say that if there is a deadlock or corner case, Community Development Lead MUST be consulted.

[2022-05-06 13:07] egekorkan commented on #394
Regarding emailing vs GitHub:

- [x]  Emails can be used for announcements but everything else that benefits from a discussion, MUST happen via GitHub (issues, discussions, projects).

Regarding chat platforms:
- [x]  Any discussion that does not happen in GitHub, is not considered official.

Feedback and Question Mechanism:
- [x] There will be people reading the WoT specifications and having ques

[2022-05-10 11:41] egekorkan opened #396 "[CG template] Decision Process links to itself"
The decision process section links back to itself via https://w3c.github.io/cg-charter/CGCharter.html#decision . Is this intended to be like this or should each CG change it to another link?

[2022-05-18 09:56] ericprud commented on #391
I believe this cab be closed based on [w3c/strategy#325](https://github.com/w3c/strategy/issues/325#issuecomment-1129803779).

[2022-06-14 13:50] #325 closed, assigned to nobody

[2022-06-30 17:07] himorin opened #397 "[template] performance HR exists?"
Current template has following text in coordination section: `will seek horizontal review for accessibility, internationalization, performance, privacy, and security with the relevant Working and Interest Groups, and with the TAG`
I assume we no longer have a performance horizontal review in [document review](https://www.w3.org/Guide/documentreview/), and `performance` is better to be removed? (or

[2022-09-17 18:03] gkellogg opened #401 "[wg/json-ld] RDF-DEV CG listed twice"
The coordinated groups includes RDF-DEV CG twice.

Arguably, saying that **RDF Dataset Normalization** is out of scope doesn't make much sense, given the existence of the RDF-RCH working group.

[2022-10-05 16:29] samuelweiler opened #402 "[wg/service-workers] incomplete charter history"
The new charter's history section is missing some bits of history.  Things I'm spotting (which might not be the complete list):

* no mention of when Jatinder Mann ceased being chair
* no mention of when Mike Smith ceased being team contact
* no mention of then Matt Falkenhagen became co-chair
* no mention of the change to one chair
* no mention of when Web Background Synchronisation and Web Perio

[2022-10-18 14:59] fantasai opened #403 "[CSSWG] two independent <ins>interoperable</ins> implementations"
https://services.w3.org/htmldiff?doc1=https%3A%2F%2Fwww.w3.org%2F2020%2F12%2Fcss-wg-charter.html&doc2=https%3A%2F%2Fwww.w3.org%2F2022%2F10%2Fcss-2022-ac.html#success-criteria

This should state “at least two independent <ins>interoperable</ins> implementations”.

I also think the original wording from the CSSWG charter was better:

Lastly the three sentences about testing, which are split into two

[2022-10-31 20:08] svgeesus opened #404 "[template] Consolidate testing and horizontal sections"
Originally [raised on the 2022 CS WG charter](https://github.com/w3c/charter-drafts/issues/403) this applies primarily to the template:

[2022-10-31 20:13] svgeesus commented on #404
Indeed, in the current template, the order of paragraphs is:

1. need for 2 independent implementations (sounds like an introduction to testing)
2. security & privacy
3. Testing plans
4. Accessibility
5. Testing policy
6. Intents to implement (non-Rec only)

I therefore propose to put them in this order: 1-3 are testing, 4-5 are horizontal review.

1. need for 2 independent implementations (sounds

[2022-10-31 20:20] #404 closed, assigned to svgeesus

[2022-10-31 20:23] svgeesus opened #405 "[template] Interoperable implementations"
Originally [raised on 2022 CSS WG charter](https://github.com/w3c/charter-drafts/issues/403)

[2022-10-31 20:23] svgeesus commented on #405
Clearly

[2022-10-31 20:24] #405 closed, assigned to svgeesus

[2022-11-09 14:27] #403 closed, assigned to nobody